@media (min-width: 2099px) {
  #scroll_top {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  body {
    background-color: #495057 !important;
  }

  #scroll_top {
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
    font-size: 50px;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 1670px) {
  .main .hsw .row_content .line {
    left: 445px;
  }
}
@media (min-width: 1501px) {
  .main .title {
    padding-left: 200px;
    padding-right: 130px;
  }
  .main .title .title-text_col {
    max-width: 650px;
  }
  .main .as-content-wrapper {
    margin-bottom: 50px;
  }
  .main .appear-fp {
    padding-bottom: 60px;
  }
  .main .reasons-choosing-seo {
    margin-bottom: 60px;
  }
  .main .reasons-choosing-seo .text_col {
    padding-left: 120px;
  }
  .main .conversion-rate {
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }
  .main .conversion-rate .title_col {
    padding: 0;
  }
  .main .conversion-rate .title_col h2 {
    font-size: 3.438rem;
    margin-bottom: 35px;
    width: 80%;
  }
  .main .conversion-rate .title_col h2, .main .conversion-rate .title_col p, .main .conversion-rate .title_col span {
    margin: 0 auto 45px auto;
  }
  .main .conversion-rate .title_col p {
    width: 80%;
    font-size: 1.6rem;
  }
  .main .conversion-rate .title_col .btn_main-content {
    margin: 0 auto;
  }
  .main .conversion-rate .content_col .row_content .row {
    justify-content: center;
  }
  .main .conversion-rate .content_col .border-wrapper {
    padding: 35px 0 0 0px;
  }
  .main .seo-marketing {
    margin-bottom: 0px;
  }
  .main .seo-marketing .text_col .btn_main-content {
    margin-bottom: 100px;
  }
  .main .hsw {
    margin-bottom: 60px;
  }
  .main .marketing-team {
    margin-bottom: 100px;
  }
  .main .pricing-plans {
    padding-top: 60px;
    margin-bottom: 100px;
  }
  .main .pricing-plans .plans {
    gap: 50px;
    justify-content: center;
  }
  .main .client-review {
    margin-bottom: 100px;
  }
  .main .client-review p {
    max-width: 55%;
    margin: 0 auto;
  }
  .main .client-review .carousel-control-next {
    margin-right: 350px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 350px;
  }
  .main .companies {
    margin-bottom: 100px;
  }
  .main .news-case-studies .btn_main-content {
    margin-bottom: 60px;
  }
  .main .news-case-studies .row {
    justify-content: center;
  }
  .main .get-in-touch {
    padding-top: 60px;
  }
  .main .get-in-touch .contacts-wr .git-contacts {
    justify-content: center;
    gap: 30px;
  }
  .main .enquiry-form {
    padding-top: 80px;
  }
  .main .enquiry-form .img__resp {
    justify-content: flex-end;
  }
  .main .enquiry-form .form_col {
    padding: 0;
  }
  .main .enquiry-form .form_col h2 {
    text-align: center;
  }
  .main .enquiry-form .form_col p {
    width: 75%;
    margin: 0 auto 26px auto;
    text-align: center;
  }
  .main .enquiry-form .form_col form {
    justify-content: center;
  }
  .main .enquiry-form .form_col form .row {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 1500px) {
  .main .title-text_col {
    display: block;
    width: 480px;
  }
  .main .title-text_col h2 {
    align-items: flex-start;
  }
  .main .title-text_col p {
    text-align: start;
  }
  .main .hsw .row .line {
    left: 385px;
  }
  .main .hsw .row .line_2 {
    right: 375px;
  }
  .main .client-review .carousel-control-next {
    margin-right: 300px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 300px;
  }
}
@media (max-width: 1399.98px) {
  .nav-wrapper .border-wrapper .menu {
    padding-right: 0px;
  }

  .main .about-seo-wrapper {
    padding: 75px 40px 76px 40px;
  }
  .main .about-seo-wrapper .as-title {
    padding: 0 145px 0 145px;
    text-align: center;
  }
  .main .about-seo-wrapper .as-title .col_content-1 {
    padding: 40px 0 280px 0;
  }
  .main .about-seo-wrapper .as-title .col_content-2 {
    padding: 40px 0 0 0;
  }
  .main .about-seo-wrapper .as-title .col_content-2 .row {
    justify-content: center;
    padding: 0 0 40px 0;
    margin: 0;
  }
  .main .about-seo-wrapper .as-title .col_content-2 .row p {
    margin: 0 auto;
    width: 60%;
  }
  .main .as-content-wrapper {
    margin-bottom: 0px;
    padding: 0 40px 0 40px;
  }
  .main .as-content-wrapper .as-content h2, .main .as-content-wrapper .as-content p {
    text-align: center;
  }
  .main .as-content-wrapper .as-content h2 {
    width: 50%;
    margin: 0 auto 25px auto;
  }
  .main .as-content-wrapper .as-content p {
    margin: 0 auto;
    width: 60%;
  }
  .main .as-content-wrapper .as-content .col_content-2 {
    padding-top: 260px;
  }
  .main .as-content-wrapper .as-content .col_content-2 .row {
    text-align: center;
    justify-content: center;
    padding: 0 0 40px 0;
    margin: 0;
  }
  .main .as-content-wrapper .as-content .col_content-2 .col-xxl p {
    margin: 0 auto;
    width: 60%;
  }
  .main .appear-fp {
    justify-content: center;
    gap: 55px;
    padding: 0;
    margin: 0 40px 0 40px;
  }
  .main .appear-fp .text_col {
    padding: 0 60px 0 60px;
    text-align: center;
  }
  .main .appear-fp .text_col p {
    width: 60%;
    margin: 0 auto 30px auto;
  }
  .main .appear-fp .text_col .row {
    width: 100%;
  }
  .main .appear-fp .check_col {
    height: 154px;
  }
  .main .reasons-choosing-seo {
    margin: 0 40px 40px 40px;
  }
  .main .reasons-choosing-seo .text_col {
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .main .reasons-choosing-seo .text_col p {
    width: 65%;
    margin: 0 auto 30px auto;
  }
  .main .reasons-choosing-seo .text_col .stat_col {
    padding: 20px 0 0 0;
  }
  .main .reasons-choosing-seo .text_col .stat_col .col_img {
    margin: 0;
  }
  .main .reasons-choosing-seo .text_col .stat_col .img_2 {
    margin: 0;
  }
  .main .reasons-choosing-seo .text_col .row {
    width: 60%;
    margin: 0 auto;
  }
  .main .conversion-rate {
    padding: 0px 125px 80px 140px;
    margin-bottom: 60px;
    text-align: center;
  }
  .main .conversion-rate .title_col {
    padding: 80px 40px 40px 80px;
  }
  .main .conversion-rate .title_col span {
    max-width: 100%;
  }
  .main .conversion-rate .title_col p {
    width: 55%;
    margin: 0 auto;
  }
  .main .conversion-rate .title_col .btn {
    margin: 20px auto 0 auto;
  }
  .main .conversion-rate .content_col {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .main .conversion-rate .content_col .row_content {
    justify-content: center;
  }
  .main .conversion-rate .content_col .border-wrapper {
    padding: 35px 0 0 0;
  }
  .main .conversion-rate .content_col .border-wrapper .row {
    justify-content: center;
  }
  .main .conversion-rate .content_col .border-wrapper p {
    max-width: 80%;
    margin: 0 auto;
  }
  .main .our-services {
    padding: 0 40px 0 40px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .main .our-services .row a {
    width: auto;
  }
  .main .seo-marketing {
    text-align: center;
    gap: 30px;
  }
  .main .seo-marketing .col-xxl {
    padding: 0;
  }
  .main .seo-marketing .text_col p {
    margin: 20px auto 20px auto;
    max-width: 50%;
  }
  .main .seo-marketing .text_col .btn {
    margin: 0 auto 0 auto;
  }
  .main .seo-marketing .img_col {
    padding-bottom: 40px;
  }
  .main .hsw {
    margin-bottom: 60px;
  }
  .main .hsw .row_content {
    justify-content: center;
    padding: 0;
  }
  .main .hsw .row_content .line, .main .hsw .row_content .line_2 {
    margin-top: 28px;
    max-width: 140px;
  }
  .main .hsw .row_content .line {
    left: 400px;
  }
  .main .hsw .row_content .line_2 {
    right: 455px;
  }
  .main .hsw .row_content .cb_1 {
    max-width: 55%;
  }
  .main .marketing-team {
    margin: 0px;
  }
  .main .marketing-team .col {
    margin-bottom: 30px;
  }
  .main .marketing-team .col .block_bottom, .main .marketing-team .col-xxl .block_bottom {
    margin-bottom: 0;
  }
  .main .marketing-team .col .col, .main .marketing-team .col-xxl .col {
    justify-content: center;
  }
  .main .marketing-team .col_3 {
    display: flex;
  }
  .main .marketing-team .col_3 .block_bottom {
    margin-left: 40px;
  }
  .main .marketing-team .col_3 .block_top {
    margin-left: 20px;
  }
  .main .pricing-plans {
    padding: 60px 20px 110px 20px;
    margin-bottom: 40px;
  }
  .main .pricing-plans .plans {
    justify-content: center;
    gap: 20px;
  }
  .main .client-review {
    margin-bottom: 100px;
  }
  .main .client-review p {
    width: 80%;
    margin: 0 auto;
  }
  .main .client-review .carousel-control-next {
    margin-right: 250px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 250px;
  }
  .main .companies {
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
  }
  .main .companies .col, .main .companies .col-xxl {
    gap: 20px;
  }
  .main .companies .col-xxl .col {
    padding: 0;
  }
  .main .companies .col_1 {
    max-width: 213px;
  }
  .main .companies .col_2 {
    max-width: 161px;
  }
  .main .companies .col_3 {
    max-width: 183px;
  }
  .main .news-case-studies {
    padding: 79px 11.5px 0 11.5px;
  }
  .main .news-case-studies .row {
    justify-content: center;
  }
  .main .news-case-studies .btn_main-content {
    margin-bottom: 60px;
  }
  .main .get-in-touch {
    padding-top: 60px;
  }
  .main .get-in-touch .contacts-wr {
    padding: 0 31px 0 31px;
  }
  .main .get-in-touch .contacts-wr .row {
    justify-content: center;
    gap: 10px;
  }
  .main .enquiry-form {
    padding: 60px 0px 0 100px;
    margin-bottom: 100px;
  }
  .main .enquiry-form h2 {
    text-align: center;
  }
  .main .enquiry-form p {
    width: 60%;
    margin: 0 auto 26px auto;
    text-align: center;
  }
  .main .enquiry-form .img__resp {
    max-width: 400px;
  }
  .main .enquiry-form .form_col {
    padding: 0;
  }
  .main .enquiry-form .form_col form {
    justify-content: center;
  }
  .main .enquiry-form .form_col form .row {
    justify-content: center;
    gap: 10px;
  }

  .footer {
    gap: 30px;
    padding-right: 100px;
  }
  .footer .contacts {
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
  }
  .footer .contacts .nav_col {
    padding-top: 0;
    text-align: center;
  }
  .footer .contacts .seoflow {
    max-width: 220px;
    text-align: center;
  }
  .footer .contacts .ql ul li {
    padding: 0;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 150px;
  }
  .footer .contacts .git {
    max-width: 250px;
  }
  .footer .contacts .git ul li {
    padding: 0;
  }
  .footer .contacts .fu {
    max-width: 120px;
  }
  .footer .contacts .fu .row {
    justify-content: center;
  }
  .footer .contacts .fu span {
    width: auto;
    height: 25px;
  }
  .footer .contacts .fu .media {
    width: auto;
    height: 25px;
  }
}
@media (max-width: 1300px) {
  .main .hsw .row_content .line {
    left: 360px;
  }
  .main .hsw .row_content .line_2 {
    right: 455px;
  }
}
@media (max-width: 1199.98px) {
  body, .wrapper {
    background-color: #c29ffa;
  }

  header {
    padding: 20px 60px 0 60px;
  }

  .nav-wrapper {
    padding: 0 60px 0 60px;
  }
  .nav-wrapper .menu {
    padding: 0 75px 0 75px;
  }
  .nav-wrapper .nav {
    justify-content: center;
    align-items: center;
  }

  .main .title {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .main .title-text_col {
    display: flex;
    width: 100%;
  }
  .main .title-text_col h2 {
    align-items: center;
  }
  .main .title-text_col p {
    text-align: center;
    margin: 0 auto 25px auto;
    width: 50%;
  }
  .main .title-text_col button {
    margin: 0 auto 30px auto;
    width: 50%;
  }
  .main .title .col {
    max-width: 100%;
  }
  .main .reasons-choosing-seo {
    margin: 0 40px 10px 40px;
  }
  .main .conversion-rate {
    padding: 50px 60px 50px 60px;
  }
  .main .conversion-rate .title_col {
    padding: 0px 0 40px 0;
  }
  .main .our-services {
    padding: 0 40px 0 40px;
  }
  .main .our-services .row {
    justify-content: center;
  }
  .main .hsw .row_content {
    gap: 20px;
  }
  .main .hsw .row_content .line, .main .hsw .row_content .line_2 {
    display: none;
  }
  .main .hsw .row_content .cb_1 {
    max-width: 80%;
  }
  .main .client-review .carousel-control-next {
    margin-right: 200px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 200px;
  }
  .main .news-case-studies {
    padding: 60px 30px 0 30px;
  }
  .main .news-case-studies .content {
    margin-bottom: 30px;
  }
  .main .news-case-studies .btn_main-content {
    margin-bottom: 40px;
  }
  .main .enquiry-form {
    padding-top: 280px;
  }
  .main .enquiry-form .img__resp {
    max-width: 300px;
  }
  .main .enquiry-form p {
    width: 91%;
  }

  .footer {
    padding: 0 40px 10px 80px;
  }
  .footer .contacts {
    gap: 5px;
  }
  .footer .contacts .seoflow, .footer .contacts .git {
    max-width: 200px;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 140px;
  }
  .footer .footer-bottom {
    justify-content: center;
  }
  .footer .footer-bottom .info_col {
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  body, .wrapper {
    background-color: #0dcaf0;
  }

  .header {
    padding: 20px 20px 0 20px;
  }

  .nav-wrapper {
    padding: 0 20px 0 20px;
  }
  .nav-wrapper .menu {
    padding: 0 0px 0 0px;
  }
  .nav-wrapper .nav {
    justify-content: center;
    align-items: center;
  }
  .nav-wrapper .border-wrapper .btn_main-content {
    width: 80px;
  }

  .main .title .title-text_col, .main .title .img__resp {
    max-width: 95%;
    margin: 0 auto;
  }
  .main .title .title-text_col p, .main .title .img__resp p {
    margin: 0 auto 25px auto;
    min-width: 75%;
  }
  .main .conversion-rate {
    padding: 0 40px 30px 40px;
  }
  .main .reasons-choosing-seo .text_col {
    width: 100%;
  }
  .main .reasons-choosing-seo .text_col p {
    width: 50%;
    margin: 0 auto 20px auto;
  }
  .main .reasons-choosing-seo .text_col .row {
    justify-content: center;
    width: 100%;
  }
  .main .reasons-choosing-seo .text_col .text-stat_col {
    max-width: 15%;
    margin-right: 60px;
  }
  .main .hsw .row_content .cb_1 {
    max-width: 100%;
  }
  .main .marketing-team .col .block_top, .main .marketing-team .col .block_bottom, .main .marketing-team .col-xxl .block_top, .main .marketing-team .col-xxl .block_bottom {
    margin: 0;
    justify-content: flex-start;
  }
  .main .client-review .carousel-control-next {
    margin-right: 100px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 100px;
  }
  .main .companies {
    padding: 0 40px 0 40px;
  }
  .main .news-case-studies .col-xxl {
    max-width: 337px;
  }
  .main .get-in-touch .contacts-wr .git-contacts .col-xxl {
    max-width: 320px;
  }
  .main .enquiry-form {
    padding-left: 60px;
    padding-right: 20px;
  }
  .main .enquiry-form .img__resp {
    max-width: 300px;
  }
  .main .enquiry-form p {
    width: 77%;
  }
  .main .enquiry-form .form_col form .col, .main .enquiry-form .form_col form input {
    max-width: 170px;
    font-size: 1rem;
  }
  .main .enquiry-form .form_col form textarea {
    max-width: 350px;
  }

  .footer {
    padding-left: 40px;
  }
  .footer .contacts {
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
  }
  .footer .contacts .nav_col {
    padding-top: 0;
    text-align: center;
  }
  .footer .contacts .seoflow {
    max-width: 220px;
    text-align: center;
  }
  .footer .contacts .ql ul li {
    padding: 0;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 150px;
  }
  .footer .contacts .git {
    max-width: 250px;
  }
  .footer .contacts .git ul li {
    padding: 0;
  }
  .footer .contacts .git ul p:nth-child(2) {
    padding: 0 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  body, .wrapper {
    background-color: #1aa179;
  }

  .nav-wrapper .border-wrapper .header-logo {
    max-width: 80px;
  }

  .main .marketing-team .col_1 {
    margin-right: 0;
  }
  .main .marketing-team .col .col, .main .marketing-team .col-xxl .col {
    justify-content: center;
  }
  .main .marketing-team .col-xxl {
    flex-direction: column;
  }
  .main .client-review .carousel-control-next, .main .client-review .carousel-control-prev {
    margin: 0;
  }
  .main .news-case-studies img {
    width: 450px;
  }
  .main .news-case-studies .content .col-xxl, .main .news-case-studies .content .col, .main .news-case-studies .content .row {
    max-width: 450px;
  }
  .main .get-in-touch .contacts-wr .git-contacts .col-xxl {
    max-width: 340px;
  }
  .main .enquiry-form {
    padding-top: 550px;
    padding-left: 20px;
  }
  .main .enquiry-form .img__resp {
    max-width: 300px;
  }
  .main .enquiry-form p {
    width: 100%;
  }
  .main .enquiry-form .form_col form .row {
    padding: 0 50px 0 50px;
  }
  .main .enquiry-form .form_col form .col, .main .enquiry-form .form_col form .col input {
    width: 260px;
  }
  .main .enquiry-form .form_col form .col, .main .enquiry-form .form_col form .col input, .main .enquiry-form .form_col form textarea {
    max-width: 260px;
    font-size: 1rem;
  }

  .footer .fb_nav {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  body, .wrapper {
    background-color: #ab296a;
  }

  .header-wrapper .header {
    justify-content: center;
    padding-bottom: 110px;
    gap: 10px;
  }
  .header-wrapper .header .contacts {
    justify-content: center;
  }
  .header-wrapper .header .contacts .row {
    flex-direction: column;
    gap: 10px;
  }
  .header-wrapper .nav-wrapper {
    height: auto;
  }
  .header-wrapper .nav-wrapper .border-wrapper .header-logo {
    min-width: 90px;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block {
    display: flex;
    width: auto;
    text-align: center;
    height: auto;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block .menu {
    display: initial;
    padding: 0px 50px 0 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #F4AB00;
    user-select: none;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block .menu .fa-bars {
    padding-left: 10px;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block .nav {
    padding-top: 33px;
    display: none;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block:hover .menu {
    color: #fff;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block:hover .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .header-wrapper .nav-wrapper .border-wrapper .menu-block:hover .nav li {
    width: 188px;
  }
  .header-wrapper .btn_main-content {
    max-width: 80px;
  }

  .main .title-text_col h2 {
    font-size: 2.55rem;
  }
  .main .title-text_col p {
    width: 100%;
    font-size: 1rem;
  }
  .main .enquiry-form {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .enquiry-form .img__resp {
    display: none;
  }
  .main .enquiry-form p {
    width: 90%;
  }
  .main .enquiry-form .form_col form .row {
    padding: 0;
  }

  .footer .contacts .nav_col span {
    font-size: 1.5rem;
  }
  .footer .contacts .seoflow p {
    margin: 0;
  }
}
@media (max-width: 466px) {
  .nav-wrapper .border-wrapper {
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
  }
  .nav-wrapper .border-wrapper .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-wrapper .border-wrapper .menu-block {
    order: 3;
  }
  .nav-wrapper .border-wrapper .btn_main-content {
    max-width: 80px;
  }

  .main .enquiry-form p {
    width: 100%;
    font-size: 0.938rem;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 310px;
  }
}

/*# sourceMappingURL=jk_media.css.map */
