// Global selectors styles
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p,
a,
ul,
li,
span,
button,
input,
textarea,
address,
q {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  user-select: none;
}
img.lazy {
  opacity: 0;
}
img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded {
  opacity: 1;
}

img.error {
  opacity: 1;
  color: red;
  &::before {
    content: "Loading Error - "; 
    font-size: 1.25rem;
  }
}
img:not([src]) {
  visibility: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
  font-size: 1.5rem;
}

input {
  &::placeholder {
    font-family: "Inter";
    font-size: 1.125rem;
    letter-spacing: 0.18px;
  }
}
