// Global selectors styles
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Cardo";
  font-weight: 400;
}

p,
a,
ul,
li,
span,
button,
input,
textarea,
address,
q {
  font-weight: 400;
  margin: 0;
}
p {
  font-family: "Inter";
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
img {
  user-select: none;
}
ul {
  list-style: none;
  padding: 0;
}
address {
  font-style: normal;
  font-size: 1.5rem;
}
input {
  &::placeholder {
    font-family: "Inter";
    font-size: 1.125rem;
    letter-spacing: 0.18px;
  }
}
