@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "AkrobatRegular";
  src: url(./webfonts/AkrobatRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "ZonaPro-ExtraBold";
  src: url(./webfonts/ZonaPro-ExtraBold.woff) format("woff");
}
// Global selectors styles
html {
  scroll-behavior: smooth;
}
h2 {
  text-transform: uppercase;
}
h2,
h3 {
  margin: 0;
  font-family: "ZonaPro-ExtraBold";
}
p,
a,
ul,
li,
span,
button,
input,
textarea,
address {
  font-family: "AkrobatRegular";
  font-weight: 400;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
img {
  user-select: none;
}
ul {
  list-style: none;
  padding: 0;
}
address {
  font-style: normal;
  font-size: 1.5rem;
}
