// Import mixins, variables
@import "mixins_var.scss";
/* Layout classes */
.l-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.l-preloader {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
// Header
.l-header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.l-header-wr {
  display: flex;
  align-items: center;
  padding-top: 21px;
  margin-left: 70px;
  margin-right: 53px;
  padding-bottom: 20px;
}
// Main
// Books preview
.l-books-preview {
  display: grid;
  grid-template-areas:
    "info-bp"
    "image-bp";
  grid-template-columns: repeat(auto-fit, minmax(449px, 1fr));
  grid-column-gap: 75.31px;
  grid-row-gap: 40px;
  justify-items: center;
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 75px;
}
// Authors book
.l-author-book {
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 166px;
  .ab-title {
    margin-top: 32px;
    margin-bottom: 60px;
  }
}
.l-ab-content {
  display: grid;
  grid-template-areas: "ab-content" "ab-content";
  grid-template-columns: repeat(auto-fit, minmax(464px, auto));
  grid-column-gap: 20px;
}
// About author
.l-about-author {
  display: flex;
  column-gap: 145px;
  padding-top: 133px;
  padding-left: 40px;
  padding-right: 70px;
  padding-bottom: 140px;
}
.l-abauth-info-contacts {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  max-width: 484px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  margin-top: 55px;
}
// Sponsors
.l-sponsors {
  padding-top: 150px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 132px;
}
// Book copy
.l-book-copy {
  display: flex;
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  justify-content: space-between;
}
// Ww learn
.l-ww-learn {
  padding-top: 136px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 140px;
}
.l-wwl-sc-points {
  display: grid;
  grid-template-areas: "scp-block" "scp-block";
  grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
  grid-row-gap: 30px;
  padding-top: 120px;
  justify-items: center;
}
// Kvision
.l-kvision {
  padding-top: 162px;
  padding-left: 70px;
  padding-right: 54px;
  padding-bottom: 120px;
}
.l-kvision-content {
  display: grid;
  grid-template-areas: "kvc-block" "kvc-block";
  grid-template-columns: repeat(auto-fit, minmax(459px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 39px;
  padding-top: 70px;
  justify-items: center;
}
// Reviews
.l-reviews {
  display: flex;
  gap: 30px;
  padding-top: 120px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 153px;
}
// Art res
.l-art-res {
  padding-top: 127px;
  padding-left: 70px;
  padding-right: 53px;
  padding-bottom: 110px;
}
.l-art-res-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302.5px, 1fr));
  grid-gap: 20px;
  padding-top: 70px;
  justify-items: center;
}
// Form
.l-get-updates {
  padding-top: 161px;
  padding-left: 70px;
  padding-right: 53px;
  padding-bottom: 120px;
}
.l-get-updates-content {
  padding: 96px 150px 115px;
}
// Footer
.l-footer {
  @include flexcolumn();
  padding-top: 92px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}
.l-author {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  white-space: nowrap;
  flex-wrap: wrap;
  a {
    font-size: 1.5rem;
    text-decoration: underline;
  }
}
