// Import mixins, variables
@import "mixins_var.scss";
/* Layout classes */
.l-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.l-preloader {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
// Header
.l-header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.l-header-wr {
  display: flex;
  align-items: center;
  padding-top: 21px;
  margin-left: 70px;
  margin-right: 53px;
  padding-bottom: 20px;
}
// Main
.l-main {
  .info-bp-desc {
    padding-top: 53px;
    column-gap: 60px;
    row-gap: 10px;
    .info-tc {
      flex-direction: column;
    }
  }
}
// Books preview
.l-books-preview {
  display: grid;
  grid-template-areas:
    "info-bp"
    "image-bp";
  grid-template-columns: repeat(auto-fit, minmax(449px, 1fr));
  grid-column-gap: 75.31px;
  grid-row-gap: 40px;
  justify-items: center;
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 75px;
}
// Authors book
.l-author-book {
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 166px;
  .ab-title {
    margin-top: 32px;
    margin-bottom: 60px;
  }
}
.l-ab-content {
  display: grid;
  grid-template-areas: "ab-content" "ab-content";
  grid-template-columns: repeat(auto-fit, minmax(464px, auto));
  grid-column-gap: 20px;
}
// About author
.l-about-author {
  display: flex;
  column-gap: 145px;
  padding-top: 133px;
  padding-left: 40px;
  padding-right: 70px;
  padding-bottom: 140px;
}
.l-abauth-info-contacts {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  max-width: 484px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  margin-top: 55px;
}
// Sponsors
.l-sponsors {
  padding-top: 151px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 130px;
}
// Book copy
.l-book-copy {

}
// Ww learn
.l-ww-learn {

}
// Kvision
.l-kvision {

}
// Reviews
.l-reviews {

}
// Art res
.l-art-res {

}
// Form
.l-get-updates {

}
// Footer
.l-footer {
  padding-top: 92px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
 
}
.l-author {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 32px;
  white-space: nowrap;
  flex-wrap: wrap;
  a {
    font-size: 1.5rem;
    text-decoration: underline;
  }
}