// Import mixins, variables
@import "mixins_var.scss";
/* Layout classes */
.l-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.l-preloader {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
// Header
.l-header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.l-header-wr {
  display: flex;
  align-items: center;
  padding-top: 21px;
  margin-left: 70px;
  margin-right: 53px;
  padding-bottom: 20px;
}
// Main
.l-main {
  .info-bp-desc {
    padding-top: 53px;
    column-gap: 60px;
    row-gap: 10px;
    .info-tc {
      flex-direction: column;
    }
  }
}
// Books preview
.l-books-preview {
  display: grid;
  grid-template-areas:
    "info-bp"
    "image-bp";
  grid-template-columns: repeat(auto-fit, minmax(449px, 1fr));
  grid-column-gap: 75.31px;
  grid-row-gap: 40px;
  justify-items: center;
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 75px;
}
// Authors book
.l-author-book {
  padding-top: 94px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 75px;
  .ab-title {
    @include flexcolumn();
    align-items: center;
    row-gap: 24px;
    font-size: 42px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 32px;
    margin-bottom: 60px;
    &::after {
      content: "";
      position: relative;
      background-color: $ff42;
      border-radius: 0px;
      width: 50px;
      height: 3px;
    }
  }
}
.l-ab-content {
  display: grid;
  grid-template-areas: "ab-content" "ab-content";
  grid-template-columns: repeat(auto-fit, minmax(464px, auto));
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  justify-items: center;
}
// About author
.l-about-author {
  padding-top: 163px;
  padding-left: 40px;
  padding-right: 70px;
  padding-bottom: 140px;
  .l-ab-content {
    display: flex;
    column-gap: 150px;
  }
}
// Footer
.l-footer {
  padding-top: 77px;
  padding-bottom: 32px;
  .l-author {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 32px;
    white-space: nowrap;
    .copyright a {
      font-weight: 500;
      line-height: 20px;
    }
    .copyright a,
    span,
    a {
      font-size: 1.5rem;
    }
  }
}
