// Import mixins
@import "mixins_var.scss";
/* Media styles */
// 1921+ px
@media (min-width: 1921px) {
  .l-footer {
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
}
// 1500px
@media (min-width: 1399.98px) {
  // Main
  .l-main {
  }
}
// 1400px
@media (max-width: 1399.98px) {
  .header-menu > .nav-item {
    margin-right: 40px;
  }
  // Main
  .l-main {
  }
}
// 1200px
@media (max-width: 1199.98px) {
  .l-header {
    padding-left: 85px;
    padding-right: 85px;
  }
  .btn-head {
    width: 140px;
  }
  .l-main {
  }
  // Footer
  .l-footer {
    padding-top: 30px;
    .footer-contacts {
      align-items: center;
      flex-direction: column;
      row-gap: 30px;
    }
  }
}
// 1024px
@media (max-width: 1024.98px) {
  .l-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo {
    margin-right: 25px;
  }
  .header-menu {
    width: 45%;
    > .nav-item {
      margin-right: 17px;
    }
  }
  .disc-head {
    width: 44%;
  }
  // Common classes
  .l-main {
  }
}
// 768px
@media (max-width: 767.98px) {
  .header-menu {
    > .nav-item {
      margin-right: 0;
      line-height: inherit;
    }
  }
  .disc-head, .header-menu {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 40px;
    position: absolute;
    right: 0;
  }
  // Main
}
// 576px
@media (max-width: 575.98px) {
  .l-main {
  }
  // Footer
  .l-footer {
    .footer-contacts {
      align-items: baseline;
    }
  }
}
// 320px
@media (max-width: 320px) {
  body {
    width: 320px;
  }
}
