// Import mixins, variables
@import "mixins_var.scss";
/* Modules. Reusable many times in code. */
// Body
.overflow-hidden {
  overflow: hidden;
}
// Hamburger
.hamburger {
  width: 34px;
  height: 29px;
  z-index: 11;
  margin-right: auto;
  cursor: pointer;
  display: none;
  .hamburger-item {
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    border-radius: 8px;
    background-color: #000;
    transition: background 0.2s linear;
    &::before,
    &::after {
      background-color: #000;
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      border-radius: 8px;
      z-index: 1;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
    &::before {
      top: 26px;
    }
    &::after {
      bottom: -13px;
    }
  }
}
.ham-active {
  margin-right: 57px;
  .hamburger-item {
    transform: rotate(45deg) translate3D(8px, 10px, 0);
    &::before {
      transform: rotate(-90deg) translate3D(27px, 1px, 0);
    }
    &::after {
      display: none;
    }
  }
}
// Menu active
.l-header {
  .nav-active {
    visibility: visible;
  }
}
// Buttons
.btn {
  color: #ffffff;
  background-color: #ce0002;
  &:hover,
  &:focus {
    background-color: #fe0002;
  }
  &:active {
    background-color: #a60002;
  }
}
.up-btn {
  align-items: center;
  @include flexcolumn();
  justify-content: center;
  font-weight: 800;
  font-size: 1.375rem;
  line-height: 27px;
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: auto;
  &::before {
    content: "";
    width: 20px;
    height: 24px;
    background-image: url("../img/arrow-up-btn.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// Images
.img__resp-block {
  display: flex;
  img {
    height: auto;
  }
}
.img__resp {
  max-width: 100%;
}