// Import mixins, variables
@import "mixins_var.scss";
/* Modules. Reusable many times in code. */
// Body
.overflow-hidden {
  overflow: hidden;
}
// Logo
.logo {
  padding: 23px 0 19px;
  margin-right: auto;
}
// Hamburger
.hamburger {
  width: 34px;
  height: 29px;
  z-index: 11;
  margin-right: auto;
  cursor: pointer;
  display: none;
  .hamburger-item {
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    border-radius: 8px;
    background-color: #000;
    transition: background 0.2s linear;
    &::before,
    &::after {
      background-color: #000;
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      border-radius: 8px;
      z-index: 1;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
    &::before {
      top: 26px;
    }
    &::after {
      bottom: -13px;
    }
  }
}
// Menu active
.l-header {
}
// Buttons
.cart {
  width: 17px;
  height: 17px;
  background-image: url("/src/img/cart-icon.svg");
  margin-right: 51px;
}
.btn-order {
  height: 66px;
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  font-weight: 700;
  font-size: 1.25rem;
}
.btn-yd {
  color: #1b3764;
  background-color: #ffca42;
}
.btn-white {
  color: #ffffff;
  // &:hover,
  // &:focus {
  //   background-color: #fe0002;
  // }
  // &:active {
  //   background-color: #a60002;
  // }
}
.up-btn {
  align-items: center;
  @include flexcolumn();
  justify-content: center;
  font-weight: 800;
  font-size: 1.375rem;
  line-height: 27px;
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: auto;
  &::before {
    content: "";
    width: 20px;
    height: 24px;
    background-image: url("../img/arrow-up-btn.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// Images
.img__resp-block {
  display: flex;
  img {
    height: auto;
  }
}
.img__resp {
  max-width: 100%;
}
