// Import mixins, variables
@import "mixins_var.scss";
// Body
.overflow-hidden {
  overflow: hidden;
}
// Hamburger
.hamburger {
  width: 34px;
  height: 29px;
  z-index: 11;
  margin-right: auto;
  cursor: pointer;
  display: none;
  .hamburger-item {
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    border-radius: 8px;
    background-color: #000;
    transition: background 0.2s linear;
    &::before,
    &::after {
      background-color: #000;
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      border-radius: 8px;
      z-index: 1;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
    &::before {
      top: 26px;
    }
    &::after {
      bottom: -13px;
    }
  }
}
.ham-active {
  margin-right: 57px;
  .hamburger-item {
    transform: rotate(45deg) translate3D(8px, 10px, 0);
    &::before {
      transform: rotate(-90deg) translate3D(27px, 1px, 0);
    }
    &::after {
      display: none;
    }
  }
}
// Main
.slv-active {
  .social-links-vert {
    visibility: visible;
    z-index: 10;
  }
}
.social-links-vert {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.img__resp-block {
  display: flex;
  img {
    height: auto;
  }
}
.img__resp {
  max-width: 100%;
} // Images
// Buttons
.btn {
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 18px;
  display: flex;
  font-size: 1.125rem;
  height: 71px;
  line-height: 27px;
  letter-spacing: 0.72px;
}
