// Import mixins, variables
@import "mixins_var.scss";
/* State of modules and site skeleton */
// Header
.l-header {
  nav a {
    &:hover {
      color: #ff0000;
    }
  }
}
// Main
.l-main {
 
}
// Footer
.l-footer {
  .l-contacts a,
  .l-author a {
    &:hover {
      color: #ff0000;
    }
    &:focus-visible {
      outline: 2px solid #ff0000;
    }
  }
}