// Theme classes
.b-ylg-bg {
  .l-header {
    background: linear-gradient(to right, #fff, #fff 275px, #ffea2f 275px);
  }
}
.ylg-bg {
  background: linear-gradient(to right, #fff, #fff 275px, #ffea2f 275px);
}

// Header
.l-header {
  .link-active {
    color: #ff0000;
  }
  nav a {
    color: #000000;
  }
  .lang-sw {
    background-color: #ce0002;
    a {
      color: #ffffff;
    }
  }
}
// Buttons

// Main
.l-main {
  .l-games-about {
    .title h2 {
      color: #000000;
    }
    .check-box {
      background-color: #ce0002;
      color: #ffffff;
    }
    p {
      color: #000000;
    }
  }
}
.l-footer {
  .l-contacts {
    a {
      color: #7e7e7e;
    }
  }
  .l-author {
    a {
      color: #7e7e7e;
    }
  }
}

// Media
@media (max-width: 1024.98px) {
  .header-menu {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .ylg-bg {
    background: linear-gradient(to right, #fff, #fff 97px, #ffea2f 97px);
  }
  .b-ylg-bg {
    .l-header {
      background: linear-gradient(to right, #fff, #fff 97px, #ffea2f 97px);
    }
  }
}

@media (max-width: 575.98px) {
  .ylg-bg {
    background: linear-gradient(to right, #fff, #fff 70px, #ffea2f 70px);
  }
  .b-ylg-bg {
    .l-header {
      background: linear-gradient(to right, #fff, #fff 70px, #ffea2f 70px);
    }
  }
}
