// Theme classes
.sw-bg {
  background: #eeeeee;
}
// Header
.l-header {
  nav a {
    color: #000000;
  }
  .lang-sw a {
    color: #ffffff;
  }
}
// Buttons

// Main
.l-main {
}
.l-footer {
  .l-author {
    a {
      color: #7e7e7e;
    }
  }
}
