/* Шрифты */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap'); */
@font-face {
  font-family: "Roboto Light";
  
  src:
      url(/fonts/RobotoLight.woff) format("woff");
}
@font-face {
  font-family: "Roboto Bold";
  src:
      url(/fonts/RobotoBold.woff) format("woff");
}
@font-face {
  font-family: "Roboto Regular";
  src:
      url(/fonts/RobotoRegular.woff) format("woff");
}
@font-face {
  font-family: "Roboto Black";
  src:
      url(/fonts/RobotoBlack.woff) format("woff");
}
/* Resets */
* {margin: 0; padding: 0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    margin: 0;
    padding: 0;
}
/* Медиа-запросы */
@media only screen and (min-height: 0px) and (min-width: 500px) and 
(max-height: 900px) and (max-width: 1024px)
{
  img {
    width: 500px;
    height: 400px;
	  max-width: 100%;
  }
}
// Миксины
@mixin hflex {position: absolute; // Устанавливает flex для h1 в .header и h2 в .footer_about_author
  flex-wrap: nowrap; display: flex; flex-direction: column;
  align-items: flex-start;}  
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Roboto.
  font-family: "Roboto", Tahoma, Geneva, sans-serif, Georgia, serif, Verdana, Geneva, sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@mixin fonth2{h2 {font-size: 45px; font-weight: 100; font-family: "Roboto Light";} // Настройка шрифта для всех h2 
.wtitle, .author {font-family: "Roboto Black"; font-weight: 100;}
}
@mixin main_strart_verified{ //Устанавливает положение для .main_strarting и .main_verified
    display: block; position: absolute; float: right;
    width: 752px; height: 427px; left: 614px;
    padding-top: 61.5px; padding-left: 55px;
    padding-right: 160px; padding-bottom: 70px;
    // .main_strarting и .main_verified _content
    &_content {
      position: absolute; width: 555px; height: 297px;
      p {line-height: 28px;letter-spacing: 0.5971px;
        width: 552px;height: 112px;}
      a {width: 212px;height: 52px;
        &:hover {border-color: #50a2b3;color: #50a2b3;}
        &:active {
          border-color: #1a7086;
          color: #1a7086;
        }
      }

     }
}
/* Global */
body {
  margin: 0 auto;
	padding: 0;
	width: 1366px;
  text-rendering: optimizeLegibility;
}
p, a {font-family: "Roboto Regular";}
.btn {text-decoration: none; @include fontfamily(); 
  border-radius: 10px; font-size: 16.57px;position: absolute;
  text-align: center; display: inline-block; padding-top: 14px}
form {display: block;}
// Переменные
$opt: optimizeLegibility;
$black: #262F32;
$white: #FFFFFF;
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

// Header
.header {
  width: 1366px; height: 715px; background-color: #f3f3f3;
  display: block; @include fontfamily(); color: $black; filter: $shadow;
  &.img {display: inline-block; vertical-align: top;}

  .header_content {
    display: inline-block; vertical-align: top; position: absolute;
    width: 457px; height: 715px; padding:52px;

      .header_nav_bar {
        cursor: pointer; font-size: 45.4px;
        position: absolute; display:block; top: 45.1px;
        width: 40px; height:55px; left: 50.4px; opacity: 0.9;
      }
      h1 {
        @include hflex(); width: 311px; height: 175px; left: 54px; top: 147.86px;
        font-size: 39.9588px; line-height: 58px; letter-spacing: 1.27135px;
          span {font-family: 'Roboto Light'}
          .bold {font-family: 'Roboto Bold'}
          .regular {font-family: "Roboto Regular";}
      }
      .header_text {
        position: absolute; width: 357px; height: 244px; left: 54px; /* or 54.8 */
        top: 369.29px;
        font-size: 17.9814px ;line-height: 28px; letter-spacing: 0.647108px;
        p {margin-bottom: 27.43px;}
      }
  }

}
// Main
.main {
  display: block; width: 1366px; height: 854px;
  @include fontfamily(); @include fonth2();
  p {font-size: 15.57px;};
  filter: $shadow;

  .main_skills {
      color: $white;
      display: block; float: left; width: 614px; height: 854px;
      padding-left: 60px; padding-right: 100px; padding-top:56px;
      background-image: url("/img/Rectangle 1 copy 2.webp");

      &_content { //main skills content
        position: absolute;
        width: 452px;
        height: 750px;
         
            h2 {
                letter-spacing: 1.55px;
                margin-bottom: 23px;
                line-height: 66px;
              }
            
              p {
                letter-spacing: 0.5350px;
                line-height: 28px;
                margin-bottom:66px;
                &:nth-of-type(3) { // Либо nth-child(3n)
                  margin-bottom:62px;
                }
              }
         
      }

      &:before {       // main_skills before
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #1E92AF;
      }
  }
  .main_strarting {
      color: $black; 
      background-image: url("/img/Rectangle 11.webp");
      @include main_strart_verified();
      h2 {letter-spacing: 1.35px; margin-bottom: 30px;}
      p {margin-bottom: 46.5px;}
      a {color: $black; letter-spacing: 0.5971px;border: 2px solid $black;
       
      }
      &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0px; left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0.91;
          background: #FFF4D2;
        }
  }
  .main_verified {
      color: $white; top: 427px; background-image: url("/img/Rectangle 1 copy.webp");
      @include main_strart_verified();
      h2 {letter-spacing: 1.18px;margin-bottom: 29px;}
      p {margin-bottom: 47.5px;}
      a {color: $white; letter-spacing: 0.6971px;border: 2px solid $white;}

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #162633;
      }
  }
}
// Footer
.footer {
  @include fontfamily(); @include fonth2();
  width: 1366px; height: 715px; color: $white; filter: $shadow;
  .footer_about_author {
    position: absolute;
    display: block;
    float: left;
    width: 458px;
    height: 715px;
    background-image: url("/img/Rectangle 2 copy.webp");
    
    h2 {
      @include hflex();
      width: 373px;
      height: 132px;
      left: 48px;
      top: 64.5px;
      letter-spacing: 1.35px;

      .wtitle {margin-top: 12px;  letter-spacing: 1.25px;}
    }
    .ali_logo {
      display: block;
      position: absolute;
      width: 90px;
      height: 90px;
      left: 59px;
      top: 441px;
      background-image: url("/img/logo.webp");
    }
    .author {
      font-size: 42px;
      position: absolute;
      width: 214px;
      height: 66px;
      left: 57px;
      top: 558px;
      letter-spacing: 1.26px;
    }
    .profession {
      position: absolute;
      font-family: "Roboto Regular";
      width: 165px;
      height: 66px;
      left: 58px;
      top: 600.28px;
      margin-top: 23px;
      letter-spacing: 0.971px;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px; left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: #1D5367;
    }
  }

  .footer_form_and_links {
    width: 908px; height: 715px; left: 458px; display: block; float: right;
    background-image: url("/img/forms_content.jpg");
    padding-top: 39px; padding-left: 55px; padding-right: 55px; padding-bottom: 70px;

        h2 {line-height: 66px; letter-spacing: 1.45px; display: block;
          font-family: "Roboto Light", "Arial", sans-serif;
          font-weight: 100;
          font-size: 45px;
          line-height: 66px; margin-top: 20px; margin-bottom: 20px;}
        
        textarea::placeholder, input::placeholder {color: #fff; font-size: 16.57px;
          line-height: 32px; letter-spacing: 0.4971px; text-rendering: auto; }
        .footer_form {margin-top: 42px; margin-bottom: 10px;
          width: 619px; height: 301px; position: relative;  font-size: 16.57px; line-height: 32px;
          font-family: "Roboto Regular", "Lucida Grande", sans-serif;
          
          #submit {margin-right: 50px;}
          & input[type="text"] {top: 0; left: 0; margin-right:10px;}
          & input[type="email"] {top: 0; right: 0;}
            
              .input_form {
                color: inherit; display: inline-block; outline: none;
                background-color: transparent;
                padding-top: 16px; padding-bottom: 19px; padding-left: 27px; padding-right: 27px;
                width: 301px;  top: 0; left: 0;
                border: 1px solid #fff; border-radius: 10px; margin-bottom: 14px;
              }

              textarea {  top: 70px; width: 619px; height: 160px;  margin: 0; left: 0;
                letter-spacing: normal; word-spacing: normal; color: inherit;
                overflow: auto; outline: none;
                background-color: transparent; resize: none;
                padding-top: 14px; padding-bottom: 19px; 
                padding-left: 27px; padding-right: 27px;
                border: 1px solid #fff; border-radius: 10px; margin-bottom: 6px;
            }

            .button {  width: 248px; color: #fff; background-color: transparent; outline: none;
              padding-top: 19px; padding-bottom: 12px;
              padding-left: 27px; padding-right: 27px;
              border: 2px solid #fff; border-radius: 10px;
              margin-right: 23px;
              
            }
        }
    }
  .footer_contacts {
    width: 462px;
    height: 150px;
      form {}
      span {font-size: 16.57px; letter-spacing: 0.4971px;  line-height: 32px;}
      .social_link_facebook {}

    }
    
  
}