@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Regular";
  src: url(/webfonts/RobotoRegular.woff) format("woff");
}
// Import mixins, variables
@import 'mixins_var.scss';
// Global selectors styles
h1, h2, h3, p, a, ul, span, button, input, textarea {
  font-family: "Roboto Regular";
  margin: 0;
}
h1 {
  width: 80px;
}
h2 {
}
h3  {
}
p  {
}
a  {
  text-decoration: none;
  color: #3F3B3D;
  &:hover {color: #0d6efd;}
  &:active {color: #F14814;}
}
span, button  {

}
button {cursor: pointer;}
img  {
  user-select: none;
}
ul  {
  list-style: none;
  padding: 0;
}
input, textarea  {

}
