// Файл стилей для работы макета dart service manager by jkenix. 
// Требуется так же файл normalize.css для работы с макетом.
// http://localhost:1234/# - parcel 
// Оригинальный сайт - https://andrewlance.github.io/PSD-1/
// ====== Кастомные шрифты: ====== \\
@font-face {font-family: "Raleway Regular";src:url(/fonts/RalewayRegular.woff) format("woff");}
@font-face {font-family: "Raleway ExtraBold";src:url(/fonts/RalewayExtraBold.woff) format("woff");}
@font-face {font-family: "Raleway SemiBold";src:url(/fonts/RalewaySemiBold.woff) format("woff");}
@font-face {font-family: "Raleway Bold";src:url(/fonts/RalewayBold.woff) format("woff");}
@font-face {font-family: "Raleway Medium";src:url(/fonts/RalewayMedium.woff) format("woff");}
/* Resets */
* {margin: 0; padding: 0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    margin: 0;
    padding: 0;
}
/* Миксины */
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Raleway.
  font-family: "Raleway", sans-serif, Tahoma, Geneva, Georgia, Verdana;
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@mixin menu { // Устанавливает настройки для меню header и footer
  .menu { color: #FFFFFF;
    display: flex; justify-content: space-between;
    .logo { width: 180px; height: 30px; display: block;
      img {float: left;}
      &_content {
        font-family: "Raleway ExtraBold"; font-size: 15px; line-height: 15px; position: absolute;
        display: block; width: 150px; height: 36px; left: 120px; 
        .dart {left: 0; font-family: 'Raleway', sans-serif;  width: 40px;  height: 16px;}
        }
       
      }
      &_nav {display: flex; flex-wrap: nowrap; position: relative; width: 550px; height: 40px;
        a {font-size: 15px; line-height: 25px; font-family: "Raleway SemiBold"; font-weight: 600;
          padding: 4px; align-items: center; color: #FFFFFF;
          &.home {padding-right: 45px;}
          &.service {padding-right: 45px;}
          &.extetension {color: #061E37; padding-right: 30px;}
          &.pricing {padding-right: 47px;}
          &.help {padding-right: 0;}
        }
      }
    &_btn {width: 80px; height: 25px; display: flex; justify-content: center;
      font-family: "Raleway Regular"; font-weight: 400; font-size: 12px; color: #FFFFFF;
      line-height: 22px; margin-top: 3px; 
      border: solid #FFFFFF 1px;}
  }
}  
@mixin f{ 
  
}
@mixin m{ //Устанавливает 

}
/* Global */
body {margin: 0 auto; padding: 0; width: 1600px;}
h1 {font-size: 55px; font-family: "Raleway ExtraBold"; font-weight: 800; line-height: 65px}
h2 {font-family: "Raleway SemiBold"; font-size: 45px; line-height: 57px; font-weight: 600}
h3 {font-family: "Raleway SemiBold"; font-size: 25px; line-height: 29px; font-weight: 600}
p {font-family: "Raleway Regular"; font-size: 15px; font-weight: 400}
a {text-decoration: none;}
// Переменные
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// Header

.header { 
  display: flex; flex-direction: column; box-sizing: border-box; position: relative;
  width: 1600px; height: 750px; 
  padding-top:50px; padding-left: 80px; padding-right: 80px;
  background-image: url("/img/headerbg.webp"); opacity: 0.9; background-size: cover; 
  @include fontfamily(); filter: $shadow; 
    @include menu(); 
    &_content {}
    
    &:after {background-image: linear-gradient(-53.0deg, #00b8d4 13%, #1de9b6 86%);
      opacity: 0.9;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;}
}
// Main
.main {
  display: block; width: 1600px; height: 3805px;
  @include fontfamily(); filter: $shadow; 
  &_easy_useful {display: block; position: relative;
    width: 1600px; height: 801px; 
    padding-top: 89px; padding-left: 80px; padding-right: 80px;
      &_title { left: 573px; width: 555px; height: 165px; position: relative;
        h2 {width: 297px; height: 55px; margin-bottom: 10px;}
        h3 {width: 331px; height: 29px; margin-left: -5px; margin-bottom: 15px;}
        .pr_man_tool_content {margin-left: -130px; margin-bottom: 6px;}
        p {width: 565px; height: 18px;margin-left: -110px; white-space: pre-wrap;  margin-bottom: 7px;
          &:nth-of-type(3) {margin-left: 120px; margin-bottom: 0px;}
        }
      }
  }
  &_counts {width: 1600px; height: 150px; display: block; position: relative;
    .business {  float: left; width: 400px; height: 150px; background-color: #80D8FF;}
    .downloads {  float: left; width: 400px; height: 150px; background-color: #82B1FF;}
    .freeinstals {float: left; width: 400px; height: 150px; background-color: #B388FF;}
    .prousers {float: left; width: 400px; height: 150px; background-color: #EA80FC;}
  }
  &_services {width: 1600px; height: 870px; display: block; position: relative;
    padding-top: 89px; padding-left: 80px; padding-right: 80px;

  }
  &_about_customers {width: 1600px; height: 564px; display: block; position: relative;
    background-image: url("/img/about_customers_bg.webp"); opacity: 0.9; background-size: cover;
    
    &:after { background-image: linear-gradient(-53.0deg, #00b8d4 13%, #1de9b6 86%);
      opacity: 0.9;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  &_our_team {width: 1600px; height: 1420px; display: block; position: relative;


  }
}
// Footer
.footer {
  display: flex; flex-direction: column; box-sizing: border-box; position: relative; 
  width: 1600px; height: 300px;
  padding-top:95px; padding-left: 80px; padding-right: 0px;
  @include fontfamily(); filter: $shadow; 
  @include menu(); background-color: #061E37;
 
    .menu_nav {display: flex; flex-wrap: nowrap; position: relative; width: 525px; height: 40px;
      a {font-size: 15px; line-height: 25px; font-family: "Raleway SemiBold"; font-weight: 600;
        padding: 4px; align-items: center; color: #FFFFFF;
        &.home {padding-right: 45px;}
        &.service {padding-right: 45px;}
        &.extetension {color: #ffffff; padding-right: 29px;}
        &.pricing {padding-right: 45px;}
        &.help {padding-right: 0;}
      }
    }
  
}