// Import mixins from bootsrap.css.min.
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Media
@media (min-width: 2099px) {
    #scroll_top {
    }
  }
@media (min-width: 1921px) {
    .footer {flex-direction: column;}
    body {background-color: var(--bs-gray-700) !important;}
}
@media (max-width: 1500px) { 
  .main .title-content-wrapper-content {
    display: block;
    width: 480px;
    .content-title {
      h2 {align-items: flex-start;}
    }
    p {text-align: start;}
  }
}
@include media-breakpoint-up(xxl) {
    body, .wrapper {background-color: $gray-500;}
}
@include media-breakpoint-down(xxl)  {
    body, .wrapper {background-color: $green-500;}
}
@include media-breakpoint-down(xl)  {
    body, .wrapper {background-color: $indigo-200;}
}
@media (max-width: 1135px) {
  .main .title-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6f42c1;
    padding: 75px 27px 76px 140px;
      &-content {
        display: flex;
        width: 100%;
        .content-title {
          h2 {align-items: center;}
        }
        p {text-align: center; margin: 0 auto 25px auto; width: 70%;}
        button {margin: 0 auto; width: 50%;}
      }
}
}
@include media-breakpoint-down(lg)  {
    body, .wrapper {background-color: $cyan-500;}
    .header .header-wrapper {padding: 20px 140px 0 100px;}
}
@media (max-width: 766px) {
    .header .header-wrapper {
      padding: 20px 0px 0 0px;
      flex-direction: column;
      align-items: center;
      height: auto;
      gap: 10px;
    }
   
    .footer {
      justify-content: start;
      flex-direction: column;
    }
    .footer span {padding: 0;}
}
@include media-breakpoint-down(md)  {
    body, .wrapper {background-color: $teal-600;}
}
@include media-breakpoint-down(sm) {
    body, .wrapper {background-color: $pink-600;}
}
@media (max-width: 450px) {
    header .contacts{
      flex-direction: column;
      gap: 10px;
      width: auto;
    }
}
@media (max-width: 350px) {
    .header .header-wrapper {
      padding: 20px 0px 0 15px; 
      align-items: flex-end;
    }
    .footer {height: auto;}
    .footer span {flex-direction: column;}
}
@media (max-width: 270px) {
    .header .header-wrapper {
      padding: 20px 0px 0 0px; 
    }
}