// Import mixins from bootsrap.css.min.
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Media
@media (min-width: 2099px) {
    #scroll_top {
      width: 100px; height: 100px; font-size: 100px;
    }
  }
@media (min-width: 1921px) {
    .footer {flex-direction: column;}
    body {background-color: var(--bs-gray-700) !important;}
    #scroll_top {
      min-width: 80px; min-height: 80px;
      max-width: 100px; max-height: 100px;
      font-size: 50px;
    }
}
@media (max-width: 1500px) { 
  .main {
    .title-text_col {
      display: block;
      width: 480px;
      h2 {align-items: flex-start;}
      p {text-align: start;}
    }
  }
}
@media (min-width: 1441px) {
  .conversion-rate {
    justify-content: center;
    align-items: center;
    text-align:center;
    .title_col {
      padding: 0 !important;
      h2 {width: 100% !important;}
      .btn_main-content {
        margin: 0 auto !important;
      }
    }
    .content_col .border-wrapper p {width: 100% !important;}
  }
}
@include media-breakpoint-up(xxl) {
    body, .wrapper {background-color: $gray-500;}
}
@include media-breakpoint-down(xxl)  {
    body, .wrapper {background-color: $green-500;}
    .main {
      .cnt-1, .cnt-2, .cnt-3, .conversion-rate, .seo-marketing {flex-direction: column;}
      .about-seo-wrapper {
      padding: 75px 40px 76px 40px;
        margin-bottom: 682px;
          .cnt-1 {
            padding: 0 145px 0 145px; 
            text-align: center; 
              .col p, .row p {width: 100% !important;} // Проблемный участок
              .col_content-2 .row {margin-left: 10;}
          }
      }
      .cnt-2 {
        gap: 55px;
        padding: 0px 0px 0px 0px;
        margin: 0 40px 0 40px;
          .img_col {justify-content: center; align-items: center; display: flex;}
          .text_col {
            padding: 0 60px 0 60px;
            text-align: center;
            .row {width: 100%; height: 100%;}
          }
      }
      .cnt-3 {
        margin: 0 40px 10px 40px;
        padding: 0 0px 10px 40px;
        .text_col {
          width: 50%; margin: 0 auto;
          text-align: center;
            .stat_col {
              padding: 10px;
              .col_img {margin: 0;}
              .img_2 {margin: 0;}
            }
        }
       
      }
      .conversion-rate {
        padding: 0px 125px 0px 140px;
        margin-bottom: 20px;
        text-align: center;
        h2, p {width: 100%;} // Проблемный участок
        .btn {margin: 0 auto;}
        .title_col {padding: 40px 0 20px 0;}
        .content_col {
          width: 100%;
          height: 100%;
          .row_content {justify-content: center;}
          .border-wrapper {max-width: 100%;} // Проблемный участок
        }
      }
      .our-services {
        padding: 0 40px 0 40px;
        margin-bottom: 30px;
        justify-content: center;
          .row {
            a {width: auto;}
          }
      }
      .seo-marketing {
        text-align: center;
        margin: 0;
        gap: 30px;
        p {min-width: 100%;} // Проблемный участок фикс мин-видз
        .col {padding: 0;}
        .btn {margin: 0 auto;}
        .img_col {padding-bottom: 40px;}
      }
    }
}
@include media-breakpoint-down(xl)  {
    body, .wrapper {background-color: $indigo-200;}
}
@media (max-width: 1180px) {
  .main {
    .title {
      padding: 0;
      flex-direction: column;
        &-text_col {
          display: flex;
          width: 100%;
          h2 {align-items: center;}
          p {text-align: center; margin: 0 auto 25px auto; width: 70%;}
          button {margin: 0 auto 30px auto; width: 50%;}
        }
        .col {max-width: 100%;}
    }
    .about-seo-wrapper {
      margin-bottom: 770px;
        .cnt-1 {flex-direction: column;}
    }
    .cnt-2 {
      gap: 55px;
      padding: 0;
      margin: 0 40px 0 40px;
    }
    .cnt-3 {
      margin: 0 40px 10px 40px;
    }
    .conversion-rate {
      padding: 0px 125px 0px 140px;
        .content_col {
        }
    }
    .our-services {
      padding: 0 40px 0 40px;
        .row {
          width: auto;
          justify-content: center;
          a {width: auto;}
        }
    }
  }
  
}
@include media-breakpoint-down(lg)  {
    body, .wrapper {background-color: $cyan-500;}
    .header .header-wrapper {padding: 20px 140px 0 100px;}
}
@media (max-width: 766px) {
    .header .header-wrapper {
      padding: 20px 0px 0 0px;
      flex-direction: column;
      align-items: center;
      height: auto;
      gap: 10px;
    }
   
    .footer {
      justify-content: start;
      flex-direction: column;
    }
    .footer span {padding: 0;}
}
@include media-breakpoint-down(md)  {
    body, .wrapper {background-color: $teal-600;}
}
@include media-breakpoint-down(sm) {
    body, .wrapper {background-color: $pink-600;}
}
@media (max-width: 450px) {
    header .contacts{
      flex-direction: column;
      gap: 10px;
      width: auto;
    }
}
@media (max-width: 350px) {
    .header .header-wrapper {
      padding: 20px 0px 0 15px; 
      align-items: flex-end;
    }
    .footer {height: auto;}
    .footer span {flex-direction: column;}
}
@media (max-width: 270px) {
  .wrapper .menu {
    width: 170px;
    display: block; padding-bottom: 5px;
    // header-nav .menu hover
   
  }
    .header {
      padding: 0px; 
    }
}