// Import mixins from bootsrap.css.min.
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Media main
@media (min-width: 2099px) {
  #scroll_top {
    width: 100px; height: 100px; 
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  body {background-color: $gray-700 !important;}
  #scroll_top {
    min-width: 80px; min-height: 80px;
    max-width: 100px; max-height: 100px;
    font-size: 50px;
  }
  .footer {
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1501px) {
  .main {
    
  }
}
@media (max-width: 1500px) { 
  .main {
   
  }
}
@include media-breakpoint-down(xxl)  { // 1400px
  body, .wrapper {background-color: $cyan-700;}
  .main {

  }
  .footer {
    
  }
}
@include media-breakpoint-down(xl)  { // 1200px
  body, .wrapper {background-color: $cyan-600;}
  header {
  }
  .main {
  
  }
  .footer {
  
  }
}
@include media-breakpoint-down(lg)  { // 992px
  body, .wrapper {background-color: $cyan-500;}
  .header {

  }
  .main {
   
  }
  .footer {
   
  }
}
@include media-breakpoint-down(md)  { // 768px
  body, .wrapper {background-color: $teal-600;}
  .main {
  
  }
  .footer {
   
  }
}
@include media-breakpoint-down(sm) { // 576px
  body, .wrapper {background-color: $pink-600;}
  .header-wr {
    .header {
     
    }
  }
 .main {
 
  }
}
@media (max-width: 320px) {
  .wrapper {width: 310px;}
}
