// Файл стилей для работы макета WOODER, написанный jkenix. // Styles file for WOODER layout by jkenix. 
// Требуется так же файл normalize.css для работы с макетом. // It also requires a normalize.css file to work with the layout.
// P.S. I'm new developer. Do not judge strictly!
// ====== Кастомные шрифты: (Custom fonts) ====== \\
@font-face {
  font-display: fallback;
  text-rendering: optimizeLegibility; 
  font-family: "Bitter Regular";
  src:url(/fonts/BitterRegular.woff) format("woff");
}
@font-face {
  font-display: fallback;
  text-rendering: optimizeLegibility; 
  font-family: "OpenSans Regular";
  src:url(/fonts/OpenSansRegular.woff) format("woff");
}
// Variables
$shadow: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
// Mixins
@mixin flexc() {display: flex !important; justify-content: center; align-items: center;} // Center flex
/* Global */
body {
  // min-height: 100vh; min-width: 100vh; 
  // font-size: calc(14px + 1vw);
  // margin: 0 auto; padding: 0;
  // width: 1903px;
}
div {font-family: "Bitter Regular";}
h1 {
  @include flexc(); 
  font-size: 2rem;
  font-family: "Bitter Regular";
  font-weight: 600;
  user-select: none;
}
h2 {
  font-family: "Bitter Regular";
}
p {
  font-size: 1rem;
}
a {
  font-family: "Bitter Regular";
  text-decoration: none !important; 
  color: #000; cursor: pointer;
}
button {
  @include flexc();
  font-family: "Bitter Regular";
}
span {
  font-family: "Bitter Regular";
}
img {user-select: none;}
ul {list-style: none;}
summary {list-style-type: none;}
iframe {border: 0px;}
// Modal
.modal-dialog-center {display: flex; align-items: center;
  min-height: calc(100% - 1rem);}
.modal-body-contact {
  @include flexc();
  span {margin-bottom: 10px; margin-right: 15px;}
  .fa-github {color: #000; margin-right: 10px;}
  .fa-youtube {color: red; margin-right: 10px;}
}
.modal-body-about {
  @include flexc();
  span {margin-bottom: 10px;}
  .fa-figma {color: #000;}
  a {color: #5231FF;
    &:hover {color: #0a58ca; .fa-figma {color: #0059ff;}}
  }
}
.modal-backdrop {z-index: 1;}
// 
.fixed-top { 
  padding-top: 5px; padding-bottom: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  h1 {font-weight: 100; color: #fff;}
  .header-nav span {background-color: #fff; color: #000;}
  .header-nav .nav-items a {color: #fff}
}
// Header
header {
  padding: 1.25rem calc(7.5rem + 1.5vw) 5.626rem calc(7.5rem + 1.5vw);
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    span {
      @include flexc(); 
      color: #fff; 
      height: 55px;
      background-color: black; border-radius: 50%;
      font-weight: normal;
    }
    .menu {
      max-width: 100%;
      a {
        &:hover {color:#0059ff; 
          .fa-bars{color:#cec150}
        }
      }
      .page-link {color: #000;}
      .fa-bars {color: #000;}
    }
    .nav-items {
      @include flexc();
      max-width: 646px; height: 80px;
       a {
        font-size: 14px;
        margin: 0 41px 0 0; 
        color: #222222;
        &:hover {transition: 0s all; color: #6f42c1; font-weight: 900;}
        &:active {transition: 0s all; color: #5231FF; font-weight: 900;}
      }
    }
  }
}
// Main
.main {
  width: 100%; height: 100%;
  &-home-pages {
    margin: 0 auto;
    width: 100%; max-width: 1200px;
    height: 100%;
    display: flex; justify-content: start;
    flex-flow: column; text-align: center; 
    span {
      display: block; height: 26px;
      font-size: 1rem;
      margin: 0 0 0.625rem 0;
      color: #7C8499; 
    }
    h2 {
      height: 50px;
      margin: 0 0 44px 0; 
      font-size: 2.438rem; 
      color:#3B3B3B;
    }
    .homepages {
      width: 100%; 
      justify-content: space-between;
      padding-bottom: 80px;
      margin-bottom: 40px;
      .btn_homepage {
        width: 120px; max-height: 28px;
        font-size: 9px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 1px;
        margin: 6px 0 20px 0;
        border-radius: 5px;
          a {color:#fff;}
          &:hover {
            transition: 1s all; background-color: #111; 
            font-weight: 900;
          }
          &:active {
            transition: 0s all; background-color: #fff;
            font-weight: 900;
            a {color:#000; transition: 0s all;}
          }
      }
      img {
        height: auto;
        display: block; 
        width: 100%;
        margin-bottom: 32px;
      }
      .homepages-block {
        display: flex; flex-wrap: wrap;
        max-width: 610px; 
      }
      .block_1 {
        justify-content: center; 
        padding: 0px 39px 0 40px;
      }
      .block_2 {
        align-items: center;
        flex-direction: column;
        padding: 0 20px 0px 20px;
      }
    }
   
  }
  &-newsletter {
    display: flex;
    width: 100%; height: 100%;
    padding: 0px 120px 0px 120px;
    text-align: center;
      .newsletter-block {
        background: url("/img/newsletter_bg.webp") no-repeat center center;
        display: block;
        width: 100%;
        height: 486px;
      }    
  }
}
.footer {

}
// Media
@media (max-width: 1180px) {
  .main .homepages {
    width: 1100px;
  }
}
@media (max-width: 1115px) {
  .main .homepages {
    width: 1050px;
    .block_1 {width: 610px; padding: 0 20px 0 20px;}
  }
}
@media (max-width: 1066px) { // Скрипт скролла ломается
  .main .homepages {
    width: 100%; 
    flex-direction: column;
      .homepages-block {
        max-width: 100%; 
          button {max-width: 100%;}
      }
      .block_1, .block_2 { // Увеличение изображений
        width: 100%; align-items: center; 
        flex-direction: column;
         img {width: 600px;}
      }
  }
}
@media (max-width: 981px) {
  header {
    padding: 1.25rem 0 5.626rem 2.5rem;
  }
}
@media (max-width: 766px) {
  header {padding: 1.25rem 0rem 5.626rem 0rem;}
  .header .header-nav {
    display: block;
    height: 100%;  
    width: 610px;
    text-align: center;
      .nav-items {
        justify-content: center;
        padding: 0 0px 0 60px;
      }
      a {padding: 0 10px 0 0;}
  }
}
@media (max-width: 665px) { // Уменьшение изображений
  .main .homepages {
  .block_1, .block_2 { 
      img {width: 550px;}
    }
  }
}
@media (max-width: 635px) {
  .header .header-nav { 
    width: 440px; 
    .nav-items {
      justify-content: space-between;
      padding:0;
      a {padding: 0.6rem; width: auto; height: auto; margin: 0;}
    }
  }
}
@media (max-width: 586px) { // Уменьшение изображений
  .main .homepages {
    .block_1, .block_2 { 
        img {width: 400px;}
      }
    }
}
@media (max-width: 460px) {
  header {
    display: flex; 
    padding: 1.25rem 0rem 5.626rem 0rem;
  }
  .header .header-nav { 
    @include flexc();
    height: 180px;
    flex-wrap: wrap;
    margin: 0px 0 0 5px;
    .nav-items {
      height: 100px; width: 350px;
      padding: 0px 0 0 0;
      display: flex; flex-wrap: wrap;
      justify-content: space-around;
       a {padding: 0rem 1rem 0rem 1rem; }
    }
  }
  .main .homepages {
    .block_1, .block_2 { 
        img {width: 300px;}
      }
  }
}
@media (max-width: 370px) { // Скрипт скролла ломается
  .header .header-nav .nav-items {
    width: 270px;
  }
  .header .header-nav .nav-items a:last-child {
    display: none;
  }
  .main .homepages {
    .block_1, .block_2 { 
        img {width: 260px;}
      }
  }
}
@media (max-width: 295px) { 
  header {
    padding: 1.25rem 0rem 3rem 0rem;
    .header-nav {
      flex-direction: column; justify-content: start !important; 
      height: auto !important;
    }
    .header-nav .menu {
      display: block; padding-bottom: 5px;
      &:hover {
        .nav-items {
          display: block !important; width: 88px; 
          height: 135px; position: absolute;
        }
        .nav-items a {display: block; width: auto;
            &:last-child {
              display: none !important;
            }
        }
      }
    }
  }
  .header .header-nav .nav-items {display: none; width: 0; height: 0;}
  .header .header-nav .nav-items a {display: none; width: 110px;}
  .header .header-nav a {padding: 0px 10px 0px 10px;}
  // Main
  h2 {font-size: 20px !important;}
  .main-home-pages .homepages .btn_homepage {font-size: 7px;}
  .main span {
    margin: 0 0 1.625rem 0;
  }
  .main .homepages {
    .block_1, .block_2 { 
        img {width: 100px;}
      }
  }
}