// Styles file for layout by jkenix. 
// Original layout: 
// ====== Custom fonts ====== \\
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito Regular";
  src: url(/webfonts/NunitoRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito ExtraBold";
  src: url(/webfonts/NunitoExtraBold.woff) format("woff");
}
// Import mixins from bootstrap.min.css
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Variables
$shadow: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
// Mixins
@mixin fleb() {
  display: flex;
  justify-content: space-between;
}
@mixin flexc() { // Center flex
  display: flex; 
  justify-content: center; 
  align-items: center;
} 
@mixin flexb() {
  display: flex; justify-content: space-between;
}
@mixin btn() {
  button {
    font-family: "Nunito Regular";
  }
  .btn {background-color:#F4AB00; color: #fff;}
  .btn_main-content {
    width: 100px; height: 41px;
    border-radius: 20px;
      a {color:#fff;}
    // btn active/hover
      &:hover {
        transition: 0s all; background-color: #111; 
      }
      &:active {
        transition: 0s all; background-color: #fff;
        color:#000; transition: 0s all;
      }
  } // btn end
}
// Modal
.modal-dialog-center {
  display: flex; align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-body-contact {
  @include flexc();
  span {margin: 0 0 10px 15px;}
  .fa-github {color: #000; margin-right: 10px;}
  .fa-youtube {color: red; margin-right: 10px;}
}
.modal-body-about {
  @include flexc();
  span {margin-bottom: 10px;}
  a {
    color: #5231FF;
    &:hover {
      color: #0a58ca; .fa-figma {color: #0059ff;}
    }
  }
}
.modal-backdrop {z-index: 1;}
// Class of fix menu background
.__scroll {
  .title-wrapper {background: rgba(0,0,0,0.8);}
}
// Menu
.menu {
  margin: 0 30px 0 0; padding: 0 0 0 5px;
  font-size: 20px;
}
// Change menu elements background color
.fa-bars {margin: 0 5px 0 5px; font-size: 35px; color: #000;}
.__bg-dark-menu {
  @include flexc();
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
      &:hover{background-color: #000;}
      &:active {
        background-color: #7C8499 ; 
        .fa-bars {color: #000 !important;}
      }
}
// Class of sroll top button
#scroll_top {
	display: none;
	position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #F4AB00;
  color: #fff;
  font-size: 35px;
	bottom: 60px;
	right: 60px;
	z-index: 1000;
	width: 40px;
	height: 40px;
	opacity: 0.5;
    a {background-color: #fff !important;}
    &:hover {opacity: 1;}
    &:active {
      transition: all 0s;
      color: #F4AB00; 
      background-color: #000;
    }
}
// Dropdown menu
.dropdown-menu-dark {width: 100%;}
/* Global */
h1 {
  margin: 0; 
  font-family: "Nunito ExtraBold";
}
h2 {
  
  font-family: "Nunito Regular";
}
p {
  font-family: "Nunito Regular";
  font-size: 1rem; 
  font-weight: 400; line-height: 25px;
}
a {
  font-size: 1rem;
  font-family: "Nunito Regular";
  color: #000;
}

span {font-family: "Nunito Regular";}
img {user-select: none;}
ul {list-style: none;}
input {
  // font-family: "";
}
// Wrappers
.wrapper {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}
.title-wrapper, .about-seo-wrapper {
  background-color: $purple-500; 
}
// Header
header {
    width: 100%;
    height: auto;
    background-color: $purple-500;
  .header-wrapper {
      @include flexb();
      height: 68px;
      padding: 20px 140px 0 140px;
      a {
        &:hover {
          color:#fff;
          user-select: none;
        }
        &:active {
          .fa-brands{color:#0059ff;}
        }
      }
    .contacts {
      display: flex; 
      div {
        display: flex;
        flex-wrap: nowrap;
        height: 28px; 
        a {
          color: #fff; padding: 0 0 0 12px;
          margin: 0 20px 0 0;
            &:hover {color: #000;}
            &:active {color: #0059ff;}
        }
      }
    }
    .media {
      width: 94.12px; height: 28px;
      @include flexb();
    }
  }
}
.nav-wrapper {
  width: 100%; height: 94px;
  padding: 0 140px 0 140px;
    .border-wrapper {
      height: 94px;
      width: 100%;
      padding: 0 15px 0 15px;
      border: 1px solid #fff; 
      border-radius: 10px; background-color: #fff;
      @include flexb(); align-items: center;
      @include btn();  
    }
}
// Main
.main {
    .title-content-wrapper {
      width: 100%;
      display: flex; flex-direction: row;
      background-color: $purple-500;
      padding: 75px 27px 75.59px 140px;
      justify-content: space-between;
        &-content {
          color: #fff; 
          .content-title {
            flex-wrap: nowrap;
            white-space: nowrap;
            display: flex; flex-direction: column; 
            justify-content: flex-start;
            margin: 36.2px 0 34.8px 0;
            span {
              display: flex; align-items:flex-start;
              vertical-align: text-top;
              justify-content: flex-start; line-height: 70px;
              font-size: 60px; height: 70px;
              
            }
          }
            p {
              margin: 0 auto 25px 0;
              width: 70%;
            }
            @include btn();
            .btn_main-content {
              width: 186px;
              height: 52px;
            }
        }
        .img-block {
          height: auto;
          display: block;
          width: 100%;
        }
    }
    .about-seo-wrapper-content {
      margin: 0 auto;
      max-width: 1160px;
      padding: 99.59px 80px 100.41px 80px;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
    }
  [class^="col-md"] {
    // outline: solid 1px red;
  } 
  width: 100%; height: 100%;
  &-content {
    margin: 0 auto;
    width: 100%; max-width: 1200px;
    height: 100%;
    display: flex; justify-content: start;
    flex-flow: column; text-align: center;
    
    span {
      display: block; height: 26px;
      font-size: 1rem;
      margin: 0 0 0.625rem 0;
    }
    p {width: 70%; margin: 0 auto 0 auto;}
    .main-content-block {
      margin: 20px 0 20px 0;
      width: 100%; 
      justify-content: space-between;
      
      .block_1 {
        justify-content: center; 
        padding: 0px 39px 0 40px;
      }
    } // .main-content-block
  } // main-content end
}
// Footer
.footer {
  display: none;
  width: 100%; 
  height: 50px;
  bottom: 0;
  align-items: center; text-align: center;
  justify-content: space-between;
    strong {padding-right: 10px;}
    span {@include flexc(); padding: 25px 10px 0 10px;}
}