// Styles file for layout by jkenix. 
// Original layout: 
// ====== Custom fonts ====== \\
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito Regular";
  src: url(/webfonts/NunitoRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito ExtraBold";
  src: url(/webfonts/NunitoExtraBold.woff) format("woff");
}
// Import mixins from bootstrap.min.css
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Variables
$shadow: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
// Mixins
@mixin flexc() { // Center flex
  display: flex; 
  justify-content: center; 
  align-items: center;
} 
@mixin flexb() {
  display: flex; justify-content: space-between;
}
@mixin btn() {
  button {
    font-family: "Nunito Regular";
  }
  .btn {background-color:#F4AB00; color: #fff;}
  .btn_main-content {
    width: 100px; height: 41px;
    border-radius: 27px;
      a {color:#fff;}
    // btn active/hover
      &:hover {
        transition: 0s all; background-color: #111; 
      }
      &:active {
        transition: 0s all; background-color: #fff;
        color:#000; transition: 0s all;
      }
  }
}
@mixin w__bg() {
  background-color: #fff; border: 1px solid #fff;
}
// Modal
.modal-dialog-center {
  display: flex; align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-body-contact {
  @include flexc();
  span {margin: 0 0 10px 15px;}
  .fa-github {color: #000; margin-right: 10px;}
  .fa-youtube {color: red; margin-right: 10px;}
}
.modal-body-about {
  @include flexc();
  span {margin-bottom: 10px;}
  a {
    color: #5231FF;
    &:hover {
      color: #0a58ca; .fa-figma {color: #0059ff;}
    }
  }
}
.modal-backdrop {z-index: 1;}
// Class of fix menu background
.__scroll {background: rgba(0,0,0,0.8);}
// Change menu elements background color
.fa-bars {margin: 0 5px 0 5px; font-size: 35px; color: #000;}
.__bg-dark-menu {
  @include flexc();
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
      &:hover{background-color: #000;}
      &:active {
        background-color: #7C8499 ; 
        .fa-bars {color: #000 !important;}
      }
}
// Class of sroll top button
#scroll_top {
	display: none;
	position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #F4AB00;
  color: #fff;
  font-size: 25px;
	bottom: 260px;
	right: 15px;
	z-index: 1000;
	width: 40px;
	height: 40px;
	opacity: 0.5;
    a {background-color: #fff;}
    &:hover {opacity: 1;}
    &:active {
      transition: all 0s;
      color: #F4AB00; 
      background-color: #000;
    }
}
// Dropdown menu
.dropdown-menu-dark {width: 100%;}
/* Global */
h1 {
  margin: 0; 
  text-align: start;
  font-family: "Nunito ExtraBold";
  width: 94px;
  height: 23px;
}
h2 {
  margin: 0; 
  line-height: 56px;
  font-family: "Nunito Regular";
}
h3 {
  margin: 0; 
  font-family: "Nunito Regular";
  line-height: 34px;
}
p {
  font-family: "Nunito Regular";
  font-size: 1.125rem; 
}
a {
  font-size: 1rem;
  font-family: "Nunito Regular";
  color: #000;
}
span {font-family: "Nunito Regular";}
img {user-select: none;}
ul {list-style: none;}
// li {font-family: "Nunito Regular"; font-size: 1rem;}
input {font-family: "Nunito Regular";}
// Wrappers
.wrapper {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}
.header-wrapper {background-color: #5B25B3;}
// Img
.img__resp {@include flexc();} // Заменить на img_resp
// Header
header {
  @include flexb();
  height: 68px;
  padding: 20px 140px 0 140px;
    a {
      &:hover {
        color:#fff;
        user-select: none;
      }
      &:active {
        .fa-brands{color:#0059ff;}
      }
    }
    .phone-block {margin-right: 25px;}
    .contacts {
      display: flex; 
      div {
        display: flex;
        flex-wrap: nowrap;
        height: 28px; 
        a {
          color: #fff; padding: 0 0 0 12px;
          line-height: 28px;
            &:hover {color: #000;}
            &:active {color: #0059ff;}
        }
      }
    }
    .mail a {
      font-size: 0.938rem;
    }
    .media {
      width: 94.12px; height: 28px;
      @include flexb();
    }
}
.nav-wrapper {
  width: 100%; height: 94px;
  padding: 0 123px 0 140px;
    .border-wrapper {
      height: 94px;
      width: 100%;
      padding: 0 15px 0 15px;
      border: 1px solid #fff; 
      border-radius: 10px; background-color: #fff;
      @include flexb(); align-items: center;
      // Menu
      .menu {
        padding-right: 10px;
        text-align: center;
        font-size: 20px;
      }
      @include btn();
      .btn {font-size: 0.813rem;}
    }
}
// Main
.main {
  width: 100%; height: 100%;
  .title {
    @include flexb();
    width: 100%;
    padding: 75px 7px 76px 140px;
    background-color: #5B25B3;
      &-text_col {
        color: #fff; 
        display: flex; flex-direction: column;
        align-items: center;
          h2 {
            display: flex; align-items: center; 
            flex-direction: column;
            margin: 30px 0 41px 0;
            white-space: nowrap;
            line-height: 70px;
            font-size: 3.75rem;  
              span {color: #F4AB00;}
          }
          p {
            width: 84%;
            text-align: center;
            font-size: 1.125rem;
            line-height: 34px;
            margin-bottom: 25px;
          }
          @include btn();
          .btn_main-content {width: 186px; height: 52px;}
      }
      .img__resp {max-width: 738px;}
  }
  .about-seo-wrapper { 
    width: 100%; height: 124px;
    padding: 0 123px 0 140px;
    margin-bottom: 20px;
    background-color: #5B25B3;
    .as-title {
      padding: 0 80px 0 80px;
      border-radius: 10px 10px 0 0;
      @include w__bg();
        .col, .col-xxl { // common col
          padding-top: 100px;
          span {color: #F4AB00; font-size: 1.188rem;}
        }
        .col_content-1 {
          h2 {padding-top: 20px; margin-bottom: 25px;}
          p {line-height: 34px; max-width: 97%;}
        }
        .col_content-2 {
          .row {
            margin-left: 60px;
            gap: 25px;
            .img__resp {
              padding: 0;
              max-width: 86px; max-height: 86px;
            }
            .text_col {
              padding: 0;
              p {
                font-size: 0.938rem; 
                line-height: 28px; 
                max-width: 80%;
                padding-top: 10px;
              }
            }
          } 
        }
    }
  }
  .as-content-wrapper {
    padding: 0 123px 0 140px;
    margin-bottom: 147px;
    .as-content {
      padding: 0 80px 0 80px;
      @include w__bg();
    }
    .col_content-1 {
      padding-top: 5px;
      h2 {margin: 0 0 25px 0;}
      p {line-height: 34px; max-width: 96%;}
    }
    .col_content-2 {
      padding-top: 100px;
      .row {
        margin-left: 60px;
        padding-top: 45px;
        gap: 25px;
        .img__resp {
          padding: 0;
          max-width: 86px; max-height: 86px;
        }
        .text_col {
          padding: 0;
          span {color: #F4AB00; font-size: 1.188rem;}
          p {
            font-size: 0.938rem; 
            line-height: 28px; 
            max-width: 80%;
            padding-top: 10px;
          }
        }
      } 
    }
  }
  .appear-fp {
    padding: 75.41px 5px 153px 31px;
    margin: 0 110px 0 140px;
    .text_col {
      padding: 0 0 0 79px;
        span {font-size: 1.25rem;}
        h2 {padding: 20px 0 0 0; margin-bottom: 25px;}
        p {
          width: 95%;
          line-height: 34px; margin-bottom: 26px;
        }
        .ul-col {
          li {padding: 0 0 13px 7px; line-height: 28px;}
          .fa-check {padding: 0 19px 0 0;}
        }
      } // text_col end
      .img__resp {
         max-width: 552px;
      }
  } 
  .reasons-choosing-seo {
    margin: 0 110px 190px 140px;
    .text_col {
      padding: 22px 0 0 0;
        span {
          font-size: 1.25rem; line-height: 30px;
        }
        h2 {
          padding: 19px 0 0px 0; margin-bottom: 25px;
        }
        p {
          width: 95%; line-height: 34px;
        }
        .stat_col {
          padding: 33px 66.5px 0 24px;
            .col_img {flex: 0 0 0%; margin: 0 20px 0 0;}
            .img_2 {margin: 0 20px 0 60px;}
            .text-stat_col{
              display: flex;
              flex-direction: column;
              padding: 3px 0 0px 0;
              span {
                color: #2C1258;
                font-size: 1.75rem;
                &:last-child {font-size: 0.938rem}
              }
            }
        }
    } // text_col end
  }
  .conversion-rate {
    padding: 96px 125px 99.69px 140px;
    margin-bottom: 185.5px; color: #fff;
    background-color: #5B25B3;
    .title_col {
      padding: 157.69px 0 0 0;
        span {max-width: 93%; margin-bottom: 26px;}
        p {
          max-width: 91%; 
          line-height: 34px; 
          margin: 28px 0 24px 0px;
        }
    }
    @include btn();
    .btn_main-content {
      width: 186px;
      height: 52px;
      margin: 0 0 156.31px 0;
      justify-content: center; align-items: center;
    }
    .content_col {
      width: 671px; height: 662px;
      padding: 3px 0 0 0;
      .border-wrapper {
        background-color: #fff; 
        color: #2C1258;
        padding: 35px 0 0 37px;
          span {
            font-size: 1.188rem; 
            margin: 25px 0 15px 0;
          }
          p {
            font-size: 0.938rem; 
            max-width: 92%; 
            line-height: 28px;
          }
      }
      svg {width: 50px;}
      .row_content {
        flex-wrap: wrap;
        gap: 30px;
      }
      .imc_1, .imc_2 {
        .border-wrapper {
          max-width: 318px;
          height: 286px;
        }
      }
      .imc_2 .st {
        p {
          font-size: 1rem;
          max-width: 92%; 
        }
      }
      .br__m {margin: 30px 0 0 0;}
      
    } //content_col end
  }
  .our-services {
    padding: 0 120px 0 140px;  
    margin-bottom: 90px;
    h2 {text-align: center; margin-bottom: 30.5px;}
    .row {
      justify-content: space-between;
      a {
        width: 167px; height: 110px;
        &:hover {
          background-color: #F4AB00; 
          color: #fff;
        }
      }
      .border-wrapper {
        flex-direction: column;
        display: flex; justify-content: center; align-items: center;
        padding: 24px 20px 29px 22px;
        width: auto;
          span {font-size: 1rem; line-height: 16px;}
          svg {margin-bottom: 10px;}
      }
    }
  }
  .seo-marketing {
    padding: 0 120px 0 140px;  margin-bottom: 30px;
    .text_col {
      padding: 50.5px 0 0 0;
        h2 {font-size: 2.125rem; line-height: 54px;}
        p {
          margin: 15px 0 19.5px 0; line-height: 34px;
          max-width: 73%;
        }
        ul {
          padding-left: 8px;
          margin-bottom: 43px;
            li {
              padding-bottom: 13px; line-height: 28px; 
              .fa-regular {padding-right: 17px;}
              &:last-child {padding: 0;}
            }
          }
        @include btn();
        .btn_main-content {
          width: 186px;
          height: 52px;
          margin: 0 0 156.31px 0;
          justify-content: center; align-items: center;
        }
    }
    .img__resp {display: block;}
  }
  .hsw {
    padding: 58px 140px 100px 140px;
    margin-bottom: 176px;
    color: #fff;
    justify-content: center;
    background-color: #421B81;
    h2, h3 {padding-left: 15px; text-align: center; }
    h2 {
      width: 425px;
      span {color: #F4AB00;}
    }
    h3 {
      line-height: 9px;
      margin: 44px 0 90px 0;
    }
    .row_content {
      padding: 0 0px 0 60px;
      text-align: center;
      justify-content: space-between; 
        // Common code 
        .col_content-1, .col_content-2, .cb_2 {
          .col {padding-bottom: 26px;}
          p {
            width: 245px;
            text-align: center; 
            line-height: 28px;
            font-size: 1rem;
          }
        }
        .line, .line_2 {
          display: flex;
          position: absolute; 
          max-width: 267px;
          width: auto;
          margin-top: 200px;
        }
        .line, .line_2 {margin-top: 28px;}
        .line {left: 485px;}
        .line_2 {right: 420px;}
        .cb_1 {
          max-width: 60%;
          display: flex; 
          justify-content: space-between;
            .col_content-1, .col_content-2 {
              width: 266px;
              p {
                font-size: 1rem;
                  width: 90%; margin: 10px auto 0 auto;
              }
            }
            span {font-size: 1.25rem;}
        }
        .cb_2 {
          width: 356px;
            .col_img {
              justify-content: center;
              display: flex;
            }
            span {font-size: 1.188rem;}
            p {width: 64%; margin: 10px auto 0 auto;}
        }
    }
  }
  .marketing-team {
    padding: 0 173px 0 173px;
    margin-bottom: 196px;
    h2, h3 {padding-left: 20px; text-align: center;}
    h3 {margin: 10px 0 60px 0;}
    .block_top {margin-bottom: 60px;}
    // Common classes
    .block_top, .block_bottom {
      display: flex; gap: 24px;
      .icon_col {max-width: 86px;}
    }
    // Main classes
    .col_1 {
      margin-right: 30px;
      span:nth-child(1) {font-size: 1.188rem;}
      .text_col {
        max-width: 126px; 
        padding-top: 16px;
        span:nth-child(2) {font-size: 0.938rem;}
      }
    }
    .col_2 {
      .block_top {
        span {
          &:nth-child(1) {font-size: 1.188rem;}
          &:nth-child(2) {font-size: 0.875rem;}
        }
      }
      .block_bottom {
        span {
          &:nth-child(1) {font-size: 1.25rem;}
          &:nth-child(2) {font-size: 0.938rem;}
        }
      }
      .text_col {padding-top: 14px; max-width: 133px;}
    }
    .col_3 {
      span {
        &:nth-child(1) {font-size: 1.25rem;}
        &:nth-child(2) {font-size: 0.938rem;}
      }
      .block_top, .block_bottom {
        margin-left: 35px;
      }
      .block_bottom {
        span:nth-child(1) {font-size: 1.188rem;}
      }
      .text_col {padding-top: 14px; max-width: 157px;}
    }
  }
  .pricing-plans {
    padding: 130px 125px 110px 140px;
    margin-bottom: 225px;
    background-color: #5B25B3;
    h2, h3 {text-align: center; color: #fff;}
    h2 {font-size: 2.375rem;}
    h3 {margin-bottom: 55px; line-height: 50px;}
    .plans {justify-content: space-between;}
    // Common classes
    .col, .col-xxl {max-width: 360px; @include w__bg();}
    .plan-silver,  .plan-gold, .plan-platinum {
      padding: 35px 38px 47px 30px;
      border-radius: 15px;
      .pt {
        color: #F4AB00;
        display: flex; 
        font-size: 1.375rem; 
        justify-content: center;
      }
      .row_price {
        color: #5B25B3;
        padding-left: 60px;
        font-size: 3.125rem; line-height: 36px;
      }
      .row_type {
        color: #5B25B3;
        display: flex; margin-bottom: 35px;
        .col {width: 107px;}
        .val {
          display: flex; 
          padding-left: 40px; 
          max-width: 146px; 
        }
        span {
          font-size: 1.25rem; line-height: 26px;
        }
      }
      ul {
        padding: 0 0 40px 7px;
        li {
          font-size: 0.938rem; 
          line-height: 25px;
          padding-bottom: 24px;
        }
      }
      .fa-check, .fa-solid {padding-right: 19px;}
      .fa-check {color: #2C1258;}
      .fa-solid {color: #ED6436; font-size: 20px;}
      .btn {margin: 0 96px 0 96px;}
      @include btn();
      .btn {
        font-size: 1rem; 
        border: 2px solid #2C1258; 
        background-color: transparent;
      }
      .btn_main-content {
        width: 168px; height: 54px;
        margin-left: 65px;
        justify-content: center; align-items: center;
        color: #2C1258;
          &:hover {
            transition: 0s all; background-color: #F4AB00; color: #fff; 
          }
          &:active {
            transition: 0s all; background-color: #000;
            color:#F4AB00; transition: 0s all;
          }
      }
    }
      // Main classes
    .plan-gold {
      padding-top: 13px;
      svg {position: relative; left: -31px;}
      .pt {height: 30px;}
      .row_type {margin-bottom: 30px;}
    }
  }
  .client-review {
    padding: 0 140px 0 140px;
    margin-bottom: 250px;
    text-align: center; justify-content: center;
    h2 {
      padding-left: 20px; 
      letter-spacing: 1px; 
      margin-bottom: 21px;
    }
    .col {max-width: 34px;  margin: 0 0px 30px 15px;}
    p {
      width: 64%; margin: 0 0px 10px 215px;
      font-size: 1.5rem; line-height: 43px;
    }
    .carousel {
      .carousel-indicators {margin-bottom: -45px;}
      .carousel-control-next, .carousel-control-prev {max-width: 100px;}
      .client span {
        padding-left: 10px;
        &:nth-child(1) {
          font-size: 1.188rem; 
          padding-top: 10px; line-height: 30px;
        }
        &:nth-child(2) {
          font-size: 0.938rem; line-height: 24px;
        }
      }
    }
  }
  .companies {
    padding: 50px 195px 0 195px;
    margin-bottom: 202px;
    .col, .col-xxl {display: flex;}
    .col_2 {
      .oh_tb {padding-left: 40px;}
      .airtable {padding-left: 120px;}
    }
    .col_3 .col {justify-content: flex-end;}
  }
  .news-case-studies {
    padding: 79px 118px 0 140px;
    text-align: center; justify-content: center;
    background-color: #E5D8FA;
    h2, h3 {padding-right: 10px;}
    h3 {padding-top: 10px; margin-bottom: 49px;}
    .content {gap: 16px; margin-bottom: 60px}
    .col, .col-xxl { 
      background-color: #fff;
      max-width: 376px;
    }
    img {margin-bottom: 20px;}
    span {font-size: 0.75rem;}
    .fa-angle-right {
      padding-left: 5px;
      font-size: 0.625rem;   
      color: #0059ff;
    }
    p {
      font-size: 1.375rem; line-height: 34px; 
      width: 90%; margin: 18px auto 0 auto;
      padding-bottom: 27px;
    }
    @include btn();
    .btn {
      font-size: 1rem; 
      border: 2px solid #2C1258; 
      background-color: transparent;
    }
    .btn_main-content {
      width: 179px; height: 54px;
      margin: 0 0 140px 0;
      justify-content: center; align-items: center;
      color: #2C1258;
        &:hover {
          transition: 0s all; background-color: #F4AB00; color: #fff; 
        }
        &:active {
          transition: 0s all; background-color: #000;
          color:#F4AB00; transition: 0s all;
        }
    }
  }
  .get-in-touch {
    text-align: center; justify-content: center;
    padding: 110px 0 0 0;
    h2 {margin-bottom: 11px;}
    h3 {font-size: 1.125rem; margin-bottom: 55px;}
    .gin-title {
      padding: 0 125px 0 140px;
      justify-content: space-between;
      .col, .col-xxl {
        @include w__bg();
        border-radius: 15px 15px 0 0;
        max-width: 367px;
        padding-top: 40px;
      }
    }
  }
  .gin-content {
    padding: 0 125px 0 140px;
    justify-content: space-between;
      .col, .col-xxl {
        max-width: 367px;
        text-align: center;
      }
  }
}
// Footer
.footer {
  --bs-gutter-x: 0rem;
  display: flex;
  flex-direction: row;
  padding: 71.27px 20px 40.73px 20px; 
  justify-content: space-between;
  ul {
    display: flex;
    width: auto;
    gap: 20px;
    a {text-decoration: underline;}
  }
  .info_col {padding: 0;display: flex;}
 
}