@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "Nunito Regular";
  src: url(/webfonts/NunitoRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "Nunito ExtraBold";
  src: url(/webfonts/NunitoExtraBold.woff) format("woff");
}
.modal-dialog-center {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-body-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body-contact span {
  margin: 0 0 10px 15px;
}
.modal-body-contact .fa-github {
  color: #000;
  margin-right: 10px;
}
.modal-body-contact .fa-youtube {
  color: red;
  margin-right: 10px;
}

.modal-body-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body-about span {
  margin-bottom: 10px;
}
.modal-body-about a {
  color: #5231FF;
}
.modal-body-about a:hover {
  color: #0a58ca;
}
.modal-body-about a:hover .fa-figma {
  color: #0059ff;
}

.modal-backdrop {
  z-index: 1;
}

.__scroll {
  background: rgba(0, 0, 0, 0.8);
}

.fa-bars {
  margin: 0 5px 0 5px;
  font-size: 35px;
  color: #000;
}

.__bg-dark-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.__bg-dark-menu:hover {
  background-color: #000;
}
.__bg-dark-menu:active {
  background-color: #7C8499;
}
.__bg-dark-menu:active .fa-bars {
  color: #000 !important;
}

#scroll_top {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #F4AB00;
  color: #fff;
  font-size: 25px;
  bottom: 260px;
  right: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
#scroll_top a {
  background-color: #fff !important;
}
#scroll_top:hover {
  opacity: 1;
}
#scroll_top:active {
  transition: all 0s;
  color: #F4AB00;
  background-color: #000;
}

.dropdown-menu-dark {
  width: 100%;
}

/* Global */
h1 {
  margin: 0;
  text-align: start;
  font-family: "Nunito ExtraBold";
  width: 94px;
  height: 23px;
}

h2 {
  margin: 0;
  line-height: 56px;
  font-family: "Nunito Regular";
}

h3 {
  font-family: "Nunito Regular";
  line-height: 34px;
}

p {
  font-family: "Nunito Regular";
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  font-family: "Nunito Regular";
  color: #000;
}

span {
  font-family: "Nunito Regular";
}

img {
  user-select: none;
}

ul {
  list-style: none;
}

input {
  font-family: "Nunito Regular";
}

.wrapper {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}

.header-wrapper {
  background-color: #5B25B3;
}

.img__resp {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 68px;
  padding: 20px 140px 0 140px;
}
header a:hover {
  color: #fff;
  user-select: none;
}
header a:active .fa-brands {
  color: #0059ff;
}
header .phone-block {
  margin-right: 25px;
}
header .contacts {
  display: flex;
}
header .contacts div {
  display: flex;
  flex-wrap: nowrap;
  height: 28px;
}
header .contacts div a {
  color: #fff;
  padding: 0 0 0 12px;
  line-height: 28px;
}
header .contacts div a:hover {
  color: #000;
}
header .contacts div a:active {
  color: #0059ff;
}
header .mail a {
  font-size: 0.938rem;
}
header .media {
  width: 94.12px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  width: 100%;
  height: 94px;
  padding: 0 123px 0 140px;
}
.nav-wrapper .border-wrapper {
  height: 94px;
  width: 100%;
  padding: 0 15px 0 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper .border-wrapper .menu {
  padding-right: 10px;
  text-align: center;
  font-size: 20px;
}
.nav-wrapper .border-wrapper button {
  font-family: "Nunito Regular";
}
.nav-wrapper .border-wrapper .btn {
  background-color: #F4AB00;
  color: #fff;
}
.nav-wrapper .border-wrapper .btn_main-content {
  width: 100px;
  height: 41px;
  border-radius: 27px;
}
.nav-wrapper .border-wrapper .btn_main-content a {
  color: #fff;
}
.nav-wrapper .border-wrapper .btn_main-content:hover {
  transition: 0s all;
  background-color: #111;
}
.nav-wrapper .border-wrapper .btn_main-content:active {
  transition: 0s all;
  background-color: #fff;
  color: #000;
  transition: 0s all;
}
.nav-wrapper .border-wrapper .btn {
  font-size: 0.813rem;
}

.main {
  width: 100%;
  height: 100%;
}
.main .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 75px 7px 76px 140px;
  background-color: #5B25B3;
}
.main .title-text_col {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .title-text_col h2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 41px 0;
  white-space: nowrap;
  line-height: 70px;
  font-size: 3.75rem;
}
.main .title-text_col h2 span {
  color: #F4AB00;
}
.main .title-text_col p {
  width: 84%;
  text-align: center;
  font-size: 1.125rem;
  line-height: 34px;
  margin: 0 0 25px 0;
}
.main .title-text_col button {
  font-family: "Nunito Regular";
}
.main .title-text_col .btn {
  background-color: #F4AB00;
  color: #fff;
}
.main .title-text_col .btn_main-content {
  width: 100px;
  height: 41px;
  border-radius: 27px;
}
.main .title-text_col .btn_main-content a {
  color: #fff;
}
.main .title-text_col .btn_main-content:hover {
  transition: 0s all;
  background-color: #111;
}
.main .title-text_col .btn_main-content:active {
  transition: 0s all;
  background-color: #fff;
  color: #000;
  transition: 0s all;
}
.main .title-text_col .btn_main-content {
  width: 186px;
  height: 52px;
}
.main .title .img__resp {
  max-width: 738px;
}
.main .about-seo-wrapper {
  width: 100%;
  height: 124px;
  padding: 0 123px 0 140px;
  margin-bottom: 463px;
  background-color: #5B25B3;
}
.main .about-seo-wrapper .as-title {
  padding: 0px 80px 0px 80px;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  border: 1px solid #fff;
}
.main .about-seo-wrapper .as-title .col-xxl {
  padding: 100px 0 40px 0;
}
.main .about-seo-wrapper .as-title .col-xxl span {
  color: #F4AB00;
  font-size: 1.188rem;
}
.main .about-seo-wrapper .as-title .col_content-1 {
  padding: 100px 0 40px 0;
}
.main .about-seo-wrapper .as-title .col_content-1 h2 {
  padding: 20px 0 0 0;
  margin: 0 0 25px 0;
}
.main .about-seo-wrapper .as-title .col_content-1 p {
  line-height: 34px;
  max-width: 97%;
}
.main .about-seo-wrapper .as-title .col_content-2 .row {
  margin-left: 60px;
  padding-bottom: 50px;
  gap: 25px;
}
.main .about-seo-wrapper .as-title .col_content-2 .row .img__resp {
  padding: 0;
  max-width: 86px;
  max-height: 86px;
}
.main .about-seo-wrapper .as-title .col_content-2 .row .text_col {
  padding: 0;
}
.main .about-seo-wrapper .as-title .col_content-2 .row .text_col p {
  font-size: 0.938rem;
  line-height: 28px;
  max-width: 80%;
  padding: 8px 0 0 0;
}
.main .appear-fp {
  padding: 75.41px 5px 153px 31px;
  margin: 0 110px 0 140px;
}
.main .appear-fp .text_col {
  padding: 0 0 0 79px;
}
.main .appear-fp .text_col span {
  font-size: 1.25rem;
}
.main .appear-fp .text_col h2 {
  padding: 20px 0 0 0;
  margin-bottom: 25px;
}
.main .appear-fp .text_col p {
  width: 96%;
  line-height: 34px;
  margin-bottom: 26px;
}
.main .appear-fp .text_col .ul-col li {
  padding: 0 0 13px 7px;
  line-height: 28px;
}
.main .appear-fp .text_col .ul-col .fa-check {
  padding: 0 19px 0 0;
}
.main .appear-fp .img__resp {
  max-width: 552px;
}
.main .reasons-choosing-seo {
  margin: 0 110px 190px 140px;
}
.main .reasons-choosing-seo .text_col {
  padding: 22px 0 0 0;
}
.main .reasons-choosing-seo .text_col span {
  font-size: 1.25rem;
  line-height: 30px;
}
.main .reasons-choosing-seo .text_col h2 {
  padding: 19px 0 0px 0;
  margin-bottom: 25px;
}
.main .reasons-choosing-seo .text_col p {
  width: 95%;
  line-height: 34px;
}
.main .reasons-choosing-seo .text_col .stat_col {
  padding: 33px 66.5px 0 24px;
}
.main .reasons-choosing-seo .text_col .stat_col .col_img {
  flex: 0 0 0%;
  margin: 0 20px 0 0;
}
.main .reasons-choosing-seo .text_col .stat_col .img_2 {
  margin: 0 20px 0 60px;
}
.main .reasons-choosing-seo .text_col .stat_col .text-stat_col {
  display: flex;
  flex-direction: column;
  padding: 3px 0 0px 0;
}
.main .reasons-choosing-seo .text_col .stat_col .text-stat_col span {
  color: #2C1258;
  font-size: 1.75rem;
}
.main .reasons-choosing-seo .text_col .stat_col .text-stat_col span:last-child {
  font-size: 0.938rem;
}
.main .conversion-rate {
  padding: 96px 125px 99.69px 140px;
  margin-bottom: 185.5px;
  color: #fff;
  background-color: #5B25B3;
}
.main .conversion-rate .title_col {
  padding: 157.69px 0 0 0;
}
.main .conversion-rate .title_col h2 {
  max-width: 93%;
  margin-bottom: 26px;
}
.main .conversion-rate .title_col p {
  max-width: 91%;
  line-height: 34px;
  margin-bottom: 25px;
}
.main .conversion-rate button {
  font-family: "Nunito Regular";
}
.main .conversion-rate .btn {
  background-color: #F4AB00;
  color: #fff;
}
.main .conversion-rate .btn_main-content {
  width: 100px;
  height: 41px;
  border-radius: 27px;
}
.main .conversion-rate .btn_main-content a {
  color: #fff;
}
.main .conversion-rate .btn_main-content:hover {
  transition: 0s all;
  background-color: #111;
}
.main .conversion-rate .btn_main-content:active {
  transition: 0s all;
  background-color: #fff;
  color: #000;
  transition: 0s all;
}
.main .conversion-rate .btn_main-content {
  width: 186px;
  height: 52px;
  margin: 0 0 156.31px 0;
  justify-content: center;
  align-items: center;
}
.main .conversion-rate .content_col {
  width: 671px;
  height: 662px;
  padding: 3px 0 0 0;
}
.main .conversion-rate .content_col .row_content {
  flex-wrap: wrap;
  gap: 30px;
}
.main .conversion-rate .content_col .imc_1 .border-wrapper, .main .conversion-rate .content_col .imc_2 .border-wrapper {
  max-width: 318px;
  height: 286px;
}
.main .conversion-rate .content_col .br__m {
  margin: 30px 0 0 0;
}
.main .conversion-rate .content_col .border-wrapper {
  background-color: #fff;
  color: #2C1258;
  padding: 35px 0 0 37px;
}
.main .conversion-rate .content_col .border-wrapper h2 {
  font-size: 1.188rem;
  margin: 10px 0 5px 0;
}
.main .conversion-rate .content_col .border-wrapper p {
  font-size: 0.938rem;
  max-width: 92%;
  line-height: 26px;
}
.main .our-services {
  padding: 0 120px 0 140px;
  margin-bottom: 90px;
}
.main .our-services h2 {
  text-align: center;
  margin-bottom: 30.5px;
}
.main .our-services .row {
  justify-content: space-between;
}
.main .our-services .row a {
  width: 167px;
  height: 110px;
}
.main .our-services .row a:hover {
  background-color: #F4AB00;
  color: #fff;
}
.main .our-services .row .border-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 20px 29px 22px;
  width: auto;
}
.main .our-services .row .border-wrapper span {
  font-size: 1rem;
  line-height: 16px;
}
.main .our-services .row .border-wrapper svg {
  margin-bottom: 10px;
}
.main .seo-marketing {
  padding: 0 120px 0 140px;
  margin-bottom: 30px;
}
.main .seo-marketing .text_col {
  padding: 50.5px 0 0 0;
}
.main .seo-marketing .text_col h2 {
  font-size: 2.125rem;
  line-height: 54px;
}
.main .seo-marketing .text_col p {
  margin: 15px 0 19.5px 0;
  line-height: 34px;
  max-width: 73%;
}
.main .seo-marketing .text_col ul {
  padding-left: 8px;
  margin-bottom: 43px;
}
.main .seo-marketing .text_col ul li {
  padding-bottom: 13px;
  line-height: 28px;
}
.main .seo-marketing .text_col ul li .fa-regular {
  padding-right: 17px;
}
.main .seo-marketing .text_col ul li:last-child {
  padding: 0;
}
.main .seo-marketing .text_col button {
  font-family: "Nunito Regular";
}
.main .seo-marketing .text_col .btn {
  background-color: #F4AB00;
  color: #fff;
}
.main .seo-marketing .text_col .btn_main-content {
  width: 100px;
  height: 41px;
  border-radius: 27px;
}
.main .seo-marketing .text_col .btn_main-content a {
  color: #fff;
}
.main .seo-marketing .text_col .btn_main-content:hover {
  transition: 0s all;
  background-color: #111;
}
.main .seo-marketing .text_col .btn_main-content:active {
  transition: 0s all;
  background-color: #fff;
  color: #000;
  transition: 0s all;
}
.main .seo-marketing .text_col .btn_main-content {
  width: 186px;
  height: 52px;
  margin: 0 0 156.31px 0;
  justify-content: center;
  align-items: center;
}
.main .seo-marketing .img__resp {
  display: block;
}
.main .hsw {
  padding: 58px 140px 100px 140px;
  margin-bottom: 176px;
  color: #fff;
  justify-content: center;
  background-color: #421B81;
}
.main .hsw h2, .main .hsw h3 {
  padding: 0 0px 0 150px;
}
.main .hsw h2 {
  padding-left: 15px;
  text-align: center;
  width: 425px;
}
.main .hsw h2 span {
  color: #F4AB00;
}
.main .hsw h3 {
  text-align: center;
  padding-left: 15px;
  line-height: 9px;
  margin: 42px 0 90px 0;
}
.main .hsw .row_content {
  padding: 0 0px 0 60px;
  text-align: center;
  justify-content: space-between;
}
.main .hsw .row_content .col_content-1 .col, .main .hsw .row_content .col_content-2 .col, .main .hsw .row_content .cb_2 .col {
  padding-bottom: 26px;
}
.main .hsw .row_content .col_content-1 p, .main .hsw .row_content .col_content-2 p, .main .hsw .row_content .cb_2 p {
  width: 245px;
  text-align: center;
  line-height: 28px;
  font-size: 1rem;
}
.main .hsw .row_content .line, .main .hsw .row_content .line_2 {
  display: flex;
  position: absolute;
  max-width: 267px;
  width: auto;
  margin-top: 200px;
}
.main .hsw .row_content .line, .main .hsw .row_content .line_2 {
  margin-top: 28px;
}
.main .hsw .row_content .line {
  left: 485px;
}
.main .hsw .row_content .line_2 {
  right: 420px;
}
.main .hsw .row_content .cb_1 {
  max-width: 60%;
  display: flex;
  justify-content: space-between;
}
.main .hsw .row_content .cb_1 .col_content-1, .main .hsw .row_content .cb_1 .col_content-2 {
  width: 266px;
}
.main .hsw .row_content .cb_1 .col_content-1 p, .main .hsw .row_content .cb_1 .col_content-2 p {
  font-size: 1rem;
  width: 90%;
  margin: 10px auto 0 auto;
}
.main .hsw .row_content .cb_1 span {
  font-size: 1.25rem;
}
.main .hsw .row_content .cb_2 {
  width: 356px;
}
.main .hsw .row_content .cb_2 .col_img {
  justify-content: center;
  display: flex;
}
.main .hsw .row_content .cb_2 span {
  font-size: 1.188rem;
}
.main .hsw .row_content .cb_2 p {
  width: 64%;
  margin: 10px auto 0 auto;
}
.main .marketing-team {
  padding: 0 173px 0 173px;
  margin-bottom: 196px;
}
.main .marketing-team h2, .main .marketing-team h3 {
  padding-left: 20px;
  text-align: center;
}
.main .marketing-team h3 {
  margin: 10px 0 60px 0;
}
.main .marketing-team .team {
  display: flex;
}
.main .marketing-team .block_top {
  margin-bottom: 60px;
}
.main .marketing-team .block_top, .main .marketing-team .block_bottom {
  display: flex;
  gap: 24px;
}
.main .marketing-team .block_top .icon_col, .main .marketing-team .block_bottom .icon_col {
  max-width: 86px;
}
.main .marketing-team .col_1 {
  margin-right: 30px;
}
.main .marketing-team .col_1 span:nth-child(1) {
  font-size: 1.188rem;
}
.main .marketing-team .col_1 .text_col {
  max-width: 126px;
  padding-top: 16px;
}
.main .marketing-team .col_1 .text_col span:nth-child(2) {
  font-size: 0.938rem;
}
.main .marketing-team .col_2 .block_top span:nth-child(1) {
  font-size: 1.188rem;
}
.main .marketing-team .col_2 .block_top span:nth-child(2) {
  font-size: 0.875rem;
}
.main .marketing-team .col_2 .block_bottom span:nth-child(1) {
  font-size: 1.25rem;
}
.main .marketing-team .col_2 .block_bottom span:nth-child(2) {
  font-size: 0.938rem;
}
.main .marketing-team .col_2 .text_col {
  padding-top: 14px;
  max-width: 133px;
}
.main .marketing-team .col_3 span:nth-child(1) {
  font-size: 1.25rem;
}
.main .marketing-team .col_3 span:nth-child(2) {
  font-size: 0.938rem;
}
.main .marketing-team .col_3 .block_top, .main .marketing-team .col_3 .block_bottom {
  margin-left: 35px;
}
.main .marketing-team .col_3 .block_bottom span:nth-child(1) {
  font-size: 1.188rem;
}
.main .marketing-team .col_3 .text_col {
  padding-top: 14px;
  max-width: 157px;
}
.main .pricing-plans {
  padding: 130px 125px 110px 140px;
  margin-bottom: 225px;
  background-color: #5B25B3;
}
.main .pricing-plans h2, .main .pricing-plans h3 {
  text-align: center;
  color: #fff;
}
.main .pricing-plans h2 {
  font-size: 2.375rem;
}
.main .pricing-plans h3 {
  margin-bottom: 55px;
  line-height: 50px;
}
.main .pricing-plans .plans {
  justify-content: space-between;
}
.main .pricing-plans .col, .main .pricing-plans .col-xxl {
  max-width: 360px;
  background-color: #fff;
  border: 1px solid #fff;
}
.main .pricing-plans .plan-silver, .main .pricing-plans .plan-gold, .main .pricing-plans .plan-platinum {
  padding: 35px 38px 51px 30px;
  border-radius: 20px;
}
.main .pricing-plans .plan-silver .pt, .main .pricing-plans .plan-gold .pt, .main .pricing-plans .plan-platinum .pt {
  color: #F4AB00;
  display: flex;
  font-size: 1.375rem;
  justify-content: center;
}
.main .pricing-plans .plan-silver .row_price, .main .pricing-plans .plan-gold .row_price, .main .pricing-plans .plan-platinum .row_price {
  color: #5B25B3;
  padding-left: 60px;
  font-size: 3.125rem;
  line-height: 36px;
}
.main .pricing-plans .plan-silver .row_type, .main .pricing-plans .plan-gold .row_type, .main .pricing-plans .plan-platinum .row_type {
  color: #5B25B3;
  display: flex;
  margin-bottom: 35px;
}
.main .pricing-plans .plan-silver .row_type .col, .main .pricing-plans .plan-gold .row_type .col, .main .pricing-plans .plan-platinum .row_type .col {
  width: 107px;
}
.main .pricing-plans .plan-silver .row_type .val, .main .pricing-plans .plan-gold .row_type .val, .main .pricing-plans .plan-platinum .row_type .val {
  display: flex;
  padding-left: 40px;
  max-width: 146px;
}
.main .pricing-plans .plan-silver .row_type span, .main .pricing-plans .plan-gold .row_type span, .main .pricing-plans .plan-platinum .row_type span {
  font-size: 1.25rem;
  line-height: 26px;
}
.main .pricing-plans .plan-silver ul, .main .pricing-plans .plan-gold ul, .main .pricing-plans .plan-platinum ul {
  padding: 0 0 40px 7px;
}
.main .pricing-plans .plan-silver ul li, .main .pricing-plans .plan-gold ul li, .main .pricing-plans .plan-platinum ul li {
  font-size: 0.938rem;
  line-height: 25px;
  padding-bottom: 24px;
}
.main .pricing-plans .plan-silver .fa-check, .main .pricing-plans .plan-silver .fa-solid, .main .pricing-plans .plan-gold .fa-check, .main .pricing-plans .plan-gold .fa-solid, .main .pricing-plans .plan-platinum .fa-check, .main .pricing-plans .plan-platinum .fa-solid {
  padding-right: 19px;
}
.main .pricing-plans .plan-silver .fa-check, .main .pricing-plans .plan-gold .fa-check, .main .pricing-plans .plan-platinum .fa-check {
  color: #2C1258;
}
.main .pricing-plans .plan-silver .fa-solid, .main .pricing-plans .plan-gold .fa-solid, .main .pricing-plans .plan-platinum .fa-solid {
  color: #ED6436;
  font-size: 20px;
}
.main .pricing-plans .plan-silver .btn, .main .pricing-plans .plan-gold .btn, .main .pricing-plans .plan-platinum .btn {
  margin: 0 96px 0 96px;
}
.main .pricing-plans .plan-silver button, .main .pricing-plans .plan-gold button, .main .pricing-plans .plan-platinum button {
  font-family: "Nunito Regular";
}
.main .pricing-plans .plan-silver .btn, .main .pricing-plans .plan-gold .btn, .main .pricing-plans .plan-platinum .btn {
  background-color: #F4AB00;
  color: #fff;
}
.main .pricing-plans .plan-silver .btn_main-content, .main .pricing-plans .plan-gold .btn_main-content, .main .pricing-plans .plan-platinum .btn_main-content {
  width: 100px;
  height: 41px;
  border-radius: 27px;
}
.main .pricing-plans .plan-silver .btn_main-content a, .main .pricing-plans .plan-gold .btn_main-content a, .main .pricing-plans .plan-platinum .btn_main-content a {
  color: #fff;
}
.main .pricing-plans .plan-silver .btn_main-content:hover, .main .pricing-plans .plan-gold .btn_main-content:hover, .main .pricing-plans .plan-platinum .btn_main-content:hover {
  transition: 0s all;
  background-color: #111;
}
.main .pricing-plans .plan-silver .btn_main-content:active, .main .pricing-plans .plan-gold .btn_main-content:active, .main .pricing-plans .plan-platinum .btn_main-content:active {
  transition: 0s all;
  background-color: #fff;
  color: #000;
  transition: 0s all;
}
.main .pricing-plans .plan-silver .btn, .main .pricing-plans .plan-gold .btn, .main .pricing-plans .plan-platinum .btn {
  font-size: 1rem;
  border: 2px solid #2C1258;
  background-color: transparent;
}
.main .pricing-plans .plan-silver .btn_main-content, .main .pricing-plans .plan-gold .btn_main-content, .main .pricing-plans .plan-platinum .btn_main-content {
  width: 168px;
  height: 54px;
  margin-left: 65px;
  justify-content: center;
  align-items: center;
  color: #2C1258;
}
.main .pricing-plans .plan-silver .btn_main-content:hover, .main .pricing-plans .plan-gold .btn_main-content:hover, .main .pricing-plans .plan-platinum .btn_main-content:hover {
  transition: 0s all;
  background-color: #F4AB00;
  color: #fff;
}
.main .pricing-plans .plan-silver .btn_main-content:active, .main .pricing-plans .plan-gold .btn_main-content:active, .main .pricing-plans .plan-platinum .btn_main-content:active {
  transition: 0s all;
  background-color: #000;
  color: #F4AB00;
  transition: 0s all;
}
.main .pricing-plans .plan-gold {
  padding-top: 13px;
}
.main .pricing-plans .plan-gold svg {
  position: relative;
  left: -31px;
}
.main .pricing-plans .plan-gold .pt {
  height: 30px;
}
.main .pricing-plans .plan-gold .row_type {
  margin-bottom: 30px;
}
.main .client-review {
  padding: 0 140px 0 140px;
  margin-bottom: 250px;
  text-align: center;
  justify-content: center;
}
.main .client-review h2 {
  padding-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}
.main .client-review .col {
  max-width: 34px;
  margin: 0 0px 30px 15px;
}
.main .client-review p {
  width: 64%;
  margin: 0 0px 0 215px;
  font-size: 1.5rem;
  line-height: 43px;
  margin-bottom: 10px;
}
.main .client-review .carousel .carousel-indicators {
  margin-bottom: -45px;
}
.main .client-review .carousel .carousel-control-next, .main .client-review .carousel .carousel-control-prev {
  max-width: 100px;
}
.main .client-review .carousel .client span {
  padding-left: 10px;
}
.main .client-review .carousel .client span:nth-child(1) {
  font-size: 1.188rem;
  padding-top: 10px;
  line-height: 30px;
}
.main .client-review .carousel .client span:nth-child(2) {
  font-size: 0.938rem;
  line-height: 24px;
}
.main .companies {
  padding: 50px 195px 0 195px;
  margin-bottom: 202px;
}
.main .companies .col, .main .companies .col-xxl {
  display: flex;
}
.main .companies .col_2 .oh_tb {
  padding-left: 40px;
}
.main .companies .col_2 .smart_box {
  padding-left: 120px;
}
.main .companies .col_3 .col {
  justify-content: flex-end;
}
.footer {
  --bs-gutter-x: 0rem;
  display: flex;
  flex-direction: row;
  padding: 71.27px 20px 40.73px 20px;
  justify-content: space-between;
}
.footer ul {
  display: flex;
  width: auto;
  gap: 20px;
}
.footer ul a {
  text-decoration: underline;
}
.footer .info_col {
  padding: 0;
  display: flex;
}

/*# sourceMappingURL=jk_public.css.map */
