// Import mixins, variables
@import 'mixins_var.scss';
// Layout classes
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.l-header {
 
}
.l-main {
 
}
.l-footer {
 
  .l-author {
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 32px;
  }
}