// Import mixins, variables
@import 'mixins_var.scss';
// Layout classes
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {

}

.main {
  max-width: 100%;
}

.footer {
  &-bottom {
    justify-content: space-between;
  }
}