// Переменные
$opt: optimizeLegibility;
$black: #262F32;
$white: #FFFFFF;
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// Миксины
@mixin hflex { position: absolute; // Устанавливает flex для h1 в .header и h2 в .footer_about_author
  flex-wrap: nowrap; display: flex; flex-direction: column;
  align-items: flex-start;}  
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Roboto.
  font-family: "Roboto", Tahoma, Geneva, sans-serif, Georgia, serif, Verdana, Geneva, sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@mixin fonth2{h2 {font-size: 45px; font-weight: 100; font-family: "Roboto Light";} // Настройка шрифта для всех h2 
.wtitle, .wtitle_footer {font-family: "Roboto Black"; font-weight: 100;}
.wtitle_footer {font-size: 42px;}
}
@mixin main_strart_verified{ //Устанавливает положение для .main_strarting и .main_verified
    display: block; position: absolute; float: right;
    width: 752px; height: 427px; left: 614px;
    padding-top: 61.5px; padding-left: 55px;
    padding-right: 160px; padding-bottom: 70px;
    // .main_strarting и .main_verified _content
    &_content {
      position: absolute; width: 555px; height: 297px;
      p {line-height: 28px;letter-spacing: 0.5971px;
        width: 552px;height: 112px;}
      a {padding-top: 13px;width: 212px;height: 52px;}
     }
}
// Global
p, a {font-family: "Roboto Regular";}
.btn {text-decoration: none ; @include fontfamily(); 
  border-radius: 14px; font-size: 16.57px;
  position: absolute;text-align: center;}
// Header
.header {
  width: 1366px; height: 715px;
  background-color: #f3f3f3;
  display:block; @include fontfamily(); color: $black; filter: $shadow;
  &.img {display: inline-block;vertical-align: top;}

  .header_content {
    display: inline-block; vertical-align: top; position: absolute;
    width: 457px; height: 715px; top: 0px;

      .header_nav_bar {
        cursor: pointer; font-size: 45.4px;
        position: absolute; display:block; top: 45.1px;
        width: 40px; height: 45px; left: 50.4px;
        opacity: 0.9;
      }
      h1 {
        @include hflex(); width: 311px; height: 175px; left: 54px; top: 147.86px;
        font-size: 39.9588px; line-height: 58px; letter-spacing: 1.27135px;
          span {font-family: 'Roboto Light'}
          .bold {font-family: 'Roboto Bold'}
          .regular {font-family: "Roboto Regular";}
      }
      .header_about_ali {
        position: absolute; width: 357px; height: 244px; left: 54px; /* or 54.8 */
        top: 369.29px;
        font-size: 17.9814px ;line-height: 28px; letter-spacing: 0.647108px;
        p {margin-bottom: 27.43px;}
      }
  }

}
// Main
.main {
  position: absolute; width: 1366px; height: 854px; top: 715px;
  @include fontfamily(); @include fonth2();
  p {font-size: 15.57px;};
  filter: $shadow;

  .main_skills {
      color: $white;
      position: absolute;
      width: 614px;
      height: 854px;
      padding-left: 60px;
      padding-right: 100px;
      padding-top:56px;
      background-image: url("/img/Rectangle 1 copy 2.webp");

      &_content { //main skills content
        position: absolute;
        width: 452px;
        height: 750px;
         
            h2 {
                letter-spacing: 1.55px;
                margin-bottom: 23px;
                line-height: 66px;
              }
            
              p {
                letter-spacing: 0.5350px;
                line-height: 28px;
                margin-bottom:66px;
                &:nth-of-type(3) { // Либо nth-child(3n)
                  margin-bottom:62px;
                }
              }
         
      }

      &:before {       // main_skills before
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #1E92AF;
      }
  }
  .main_strarting {
      color: $black; @include main_strart_verified();
      background-image: url("/img/Rectangle 11.webp");
      h2 {letter-spacing: 1.35px;margin-bottom: 30px;}
      p {margin-bottom: 46.5px;}
      a {color: $black; letter-spacing: 0.5971px;border: 2px solid $black;
        &:before {
          
        }
      }
      &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0px; left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0.91;
          background: #FFF4D2;
        }
  }
  .main_verified {
      color: $white; @include main_strart_verified();
      top: 427px; background-image: url("/img/Rectangle 1 copy.webp");
      h2 {letter-spacing: 1.18px;margin-bottom: 29px;}
      p {margin-bottom: 47.5px;}
      a {
        color: $white; letter-spacing: 0.6971px;border: 2px solid $white;
        width: 212px;
        height: 52px;
        &:before {

        }
      }

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #162633;
      }
  }
}
// Footer
.footer {
  @include fontfamily();
  @include fonth2();
  position: absolute;
  width: 1366px;
  height: 715px;
  top: 1568px;
  color: $white;
  filter: $shadow;
  .footer_about_author {
    position: absolute;
    width: 458px;
    height: 715px;
    background-image: url("/img/Rectangle 2 copy.webp");
    
    h2 {
      @include hflex();
      width: 373px;
      height: 132px;
      left: 48px;
      top: 64.5px;
      letter-spacing: 1.35px;

      .wtitle {margin-top: 12px;  letter-spacing: 1.25px;}
    }
    img {
      position: absolute;
      width: 90px;
      height: 90px;
      left: 59px;
      top: 441px;
    }
    .wtitle_footer {
      position: absolute;
      width: 214px;
      height: 66px;
      left: 57px;
      top: 558px;
      letter-spacing: 1.26px;
    }
    .footer_about_ali {
      position: absolute;
      font-family: "Roboto Regular";
      width: 165px;
      height: 66px;
      left: 58px;
      top: 600.28px;
      margin-top: 23px;
      letter-spacing: 0.971px;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px; left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: #1D5367;
    }
  }

  .footer_form_and_links {
    position: absolute;
    width: 908px;
    height: 715px;
    left: 458px;
    background-image: url("/img/Rectangle 2.webp");
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px; left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: #5A665F;
    }

    .footer_forms {
      position: absolute;
      width: 624px;
      height: 237px;
      left: 48px;
      top: 162px;

        h2 {
          width: 248px;
          height: 66px;
          left: 57px;
          top: 59.5px;
          font-weight: 300;
          font-size: 45px;
          line-height: 66px;
          letter-spacing: 1.45px;
        }
      
    }

    .footer_contacts {
      position: absolute;
      width: 462px;
      height: 150px;
      left: 54px;
      top: 493px;

    }
    
  }
}