// Переменные
$opt: optimizeLegibility;
$black: #262F32;
$white: #FFFFFF;
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// Миксины
@mixin hflex { position: absolute; // Устанавливает flex для h1 в .header и h2 в .footer_about_author
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;}  
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Roboto.
  font-family: "Roboto", Tahoma, Geneva, sans-serif, 
  Georgia, serif, Verdana, Geneva, sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@mixin fonth2{h2 {font-size: 45px; font-weight: 100; font-family: "Roboto Light";} // Настройка шрифта для всех h2 
.wtitle, .wtitle_footer { 
  font-family: "Roboto Black"; font-weight: 100;}
  .wtitle_footer {font-size: 42px;}
}
@mixin main_strart_verified{ //Устанавливает положение для .main_strarting и .main_verified
    display: inline-block;
    position: absolute;
    width: 752px;
    height: 427px;
    left: 614px;
}
// Header
.header {
  width: 1366px;
  height: 715px;
  background-color: #f3f3f3;
  display:block;
  @include fontfamily();
  color: $black;
  filter: $shadow;
  &.img {
    display: inline-block;
    vertical-align: top;
  }

  .header_content {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 457px;
    height: 715px;
    top: 0px;

      .header_nav_bar {
        cursor: pointer;
        font-size: 45.4px;
        position: absolute;
        display:block;
        top: 45.1px;
        opacity: 0.9;
        width: 40px;
        height: 45px;
        left: 50.4px;
      }
      h1 {
        @include hflex();
        width: 311px;
        height: 175px;
        left: 54px;
        top: 147.86px;
        font-size: 39.9588px;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 1.27135px;
      }
      .header_about_ali {
        position: absolute;
        width: 357px;
        height: 244px;
        left: 54px; /* or 54.8 */
        top: 369.29px;
        font-size: 17.9814px;
        line-height: 28px;
        letter-spacing: 0.647108px;
        
        p {
          margin-bottom: 27.43px;
          
        }
        
      }
  }

}
// Main
.main {
  position: absolute;
  width: 1366px;
  height: 854px;
  top: 715px;
  @include fontfamily();
  @include fonth2();
  filter: $shadow;
    .main_skills {
      color: $white;
      position: absolute;
      width: 614px;
      height: 854px;
      padding-left: 60px;
      padding-right: 100px;
      background-image: url("/img/Rectangle 1 copy 2.webp");

      h2 {margin-bottom: 23px;}
      p {margin-bottom: 65px;}
      .drawing_sketch {
        position: absolute;
        width: 452px;
        height: 182px;
        left: 59px;
        top: 63px;
            h2 {
              position: absolute;
              letter-spacing: 1.55px;
              }
            
              p {
                position: absolute;
                letter-spacing: 0.4671px;
              }
         
      }
      .making_design {
        position: absolute;
        width: 452px;
        height: 182px;
        left: 59px;
        top: 338px;
      }
      .developing_product {
        position: absolute;
        width: 452px;
        height: 182px;
        left: 59px;
        top: 605px;
      }

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #1E92AF;
      }
  }
  .main_strarting {
      color: $black;
      @include main_strart_verified();
      background-image: url("/img/Rectangle 11.webp");
      h2 {
        font-weight: 100;
        
        position: absolute;
        width: 323px;
        height: 66px;
        left: 58px;
        top: 59.5px;
      }
      p {
        width: 566px;
        height: 112px;
        left: 54px;
        top: 139.79px;
      }
      &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0px; left: 0px;
          width: 100%;
          height: 100%;
          opacity: 0.91;
          background: #FFF4D2;
        }
  }
  .main_verified {
      color: $white;
      @include main_strart_verified();
      top: 427px;
      background-image: url("/img/Rectangle 1 copy.webp");
      h2 {
        position: absolute;
        width: 361px;
        height: 66px;
        left: 54px;
        top: 59.5px;
      }
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background: #162633;
      }
  }
}
// Footer
.footer {
  @include fontfamily();
  @include fonth2();
  position: absolute;
  width: 1366px;
  height: 715px;
  top: 1568px;
  color: $white;
  filter: $shadow;
  .footer_about_author {
    position: absolute;
    width: 458px;
    height: 715px;
    background-image: url("/img/Rectangle 2 copy.webp");
    
    h2 {
      @include hflex();
      width: 373px;
      height: 132px;
      left: 48px;
      top: 64.5px;
      letter-spacing: 1.35px;

      .wtitle {margin-top: 12px;  letter-spacing: 1.25px;}
    }
    img {
      position: absolute;
      width: 90px;
      height: 90px;
      left: 59px;
      top: 441px;
    }
    .wtitle_footer {
      position: absolute;
      width: 214px;
      height: 66px;
      left: 57px;
      top: 558px;
      letter-spacing: 1.26px;
    }
    .footer_about_ali {
      position: absolute;
      font-family: "Roboto Regular";
      width: 165px;
      height: 66px;
      left: 58px;
      top: 600.28px;
      margin-top: 23px;
      letter-spacing: 0.971px;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px; left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: #1D5367;
    }
  }

  .footer_form_and_links {
    position: absolute;
    width: 908px;
    height: 715px;
    left: 458px;
    background-image: url("/img/Rectangle 2.webp");
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px; left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: #5A665F;
    }

    h2 {
      position: absolute;
      width: 248px;
      height: 66px;
      left: 57px;
      top: 59.5px;
      font-weight: 300;
      font-size: 45px;
      line-height: 66px;
      letter-spacing: 1.45px;
    }
    
    .footer_forms {
      position: absolute;
      width: 624px;
      height: 237px;
      left: 48px;
      top: 162px;
    }

    .footer_contacts {
      position: absolute;
      width: 462px;
      height: 150px;
      left: 54px;
      top: 493px;

    }
    
  }
}