// Import mixins
@import "mixins_var.scss";
// Media main
@media (min-width: 2099px) {
  #scroll_top {
    width: 300px;
    height: 200px;
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  #scroll_top {
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
    font-size: 50px;
  }
}
@media (min-width: 1457px) {
  .l-main {
    .l-create-dream-inter {
      max-width: 100%;
      background-position: center;
      &-content {
        padding-left: 250px;
        p {
          font-size: 1.7rem;
        }
      }
    }
  }
}
@media (max-width: 1457px) {
  .l-design-offers-content p {
    max-width: 77%;
  }
}
@media (max-width: 1399.98px) {
  // 1400px
  .l-main {
    .l-create-dream-inter-content {
      padding-left: 80px;
    }
  }
}
@media (min-width: 1199.98px) {
  // Margin main
  .l-main {
    div[class*="-m-"] {
      margin-left: 120px;
      margin-right: 105px;
    }
  }
}
@media (max-width: 1199.98px) {
  // 1200px
  .l-main {
    .l-create-dream-inter {
      height: 692px;
    }
  }
}
@media (max-width: 991.98px) {
  // 992px
  .l-header {
    margin-left: 40px;
    margin-right: 40px;
    .header-menu nav {
      justify-content: center;
      gap: 25px;
    }
  }
  .l-main {
    .l-create-dream-inter {
      background-position: center;
      &-content {
        max-inline-size: 500px;
        h2 {
          font-size: 4rem;
        }
      }
    }
    .l-m-design-offers {
      // margin-right: 40px;
      // margin-left: 40px;
      .l-design-offers-content {
        flex-wrap: wrap;
        gap: 10px;
        .design-offer {
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  // 768px
  .l-header {
    justify-content: center;
  }
  .l-main {
    .l-create-dream-inter-content {
      padding-left: 40px;
      padding-right: 30px;
    }
    .l-m-design-offers .l-design-offers-content {
      .design-offer {
        p {
          font-size: 1.5rem;
          max-width: 100%;
        }
        h2 {
          font-size: 2rem;
        }
        button {padding: 0;}
      }
    }
    .l-design-offers-content {
      h2 {
      }
      p {
      }
    }
  }
}
@media (max-width: 575.98px) {
  // 576px
  .l-main {
    .l-create-dream-inter-content {
      padding-top: 170px;
      max-inline-size: 380px;
      h2 {
        font-size: 2.5rem;
        line-height: 50px;
      }
    }
  }
}
@media (max-width: 320px) {
  body {
    width: 320px;
  }
}
