// Import mixins
@import 'mixins_var.scss';
@import "lib/breakpoints";
// Media main
@media (min-width: 2099px) {
  #scroll_top {
    width: 300px; 
    height: 200px; 
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  #scroll_top {
    min-width: 80px; 
    min-height: 80px;
    max-width: 100px; 
    max-height: 100px;
    font-size: 50px;
  }
  .l-footer {
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1441px) {
 
}
@include media-breakpoint-down(xxl)  { // 1400px
  body {background-color: #0dcaf0 !important;}
}
@include media-breakpoint-down(xl) { // 1200px
  body {background-color: #20c997 !important;}
  .l-header .user-block .profile {
    padding: 3px 20px 20px 30px;
  }
}
@include media-breakpoint-down(lg)  { // 992px
  body {background-color: #8cc9d8 !important;}
  .l-header {
    .header-menu {
      width: 480px;
      .nav ul {
        gap: 10px;
        width: 480px;
        padding-left: 20px;
        a {letter-spacing:  1.36px;}
      }
    }
    .user-block .profile {
      padding: 5px 20px 0 30px;
    }
  }
}
@include media-breakpoint-down(md)  { // 768px
  body {background-color: #6610f2 !important;}
  .l-header {
    padding: 19px 0 0;
    flex-direction:  column;
    align-items: center;
    .header-menu .nav ul {
      padding-top: 15px; 
      padding-left: 0;
      height: auto;
    }
  }
}
@include media-breakpoint-down(sm) { // 576px
  body {background-color: #969294 !important;}
  .l-header .header-menu {
    width: auto; height: auto;
    .nav ul {
      /* align-items: center; */
      padding-top: 15px;
      padding-left: 0;
      height: auto;
      /* flex-direction: column; */
      flex-wrap: wrap;
      width: auto;
      justify-content: center;
      padding: 15px 85px 10px;
      text-align: center;
      .syd img {
        margin-right: 3px;
      }
    }
  }
}
@media (max-width: 320px) {
  body {width: 320px;}
}
