// Import mixins
@import 'mixins_var.scss';
@import "lib/breakpoints";
// Media main
@media (min-width: 2099px) {
  #scroll_top {
    width: 300px; 
    height: 200px; 
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  #scroll_top {
    min-width: 80px; 
    min-height: 80px;
    max-width: 100px; 
    max-height: 100px;
    font-size: 50px;
  }
  .l-footer {
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1500px) {
  .l-header, .l-main, .l-footer {justify-content: center;}
  .l-header .header-menu .nav ul {
    justify-content: center;
  }
  .l-main {
    .l-custom-box-title,
    .l-specifications-content,
    .l-customize-products-title {justify-content: center; gap: 60px;}
    
    .l-customize-products-catalog {justify-content: center;}

    .l-steps-products-content .steps-products,
    .l-arka-advantage-content {
      justify-content: center; 
      gap: 160px;
    }
    .l-arka-advantage h2 {text-align: center;}


  }
}
@include media-breakpoint-down(xxl)  { // 1400px
  body {background-color: #0dcaf0 !important;}
  .l-main {
   .l-customize-products-catalog {
      .products-column .product {
        width: auto; 
        &-img {width: auto; display: flex; justify-content: center;}
        &-desc {
          p {max-width: 64%;}
          &-content {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xl) { // 1200px
  body {background-color: #20c997 !important;}
  .l-header .user-block .profile {
    padding: 3px 20px 20px 30px;
  }
  .l-main {
    .l-customize-products {
      padding: 57px 80px 49.69px;
      &-catalog .products-column {
        .product-desc {
          padding: 0;
          span {text-align: center;}
          p {max-width: 100%; text-align: center;}
          &-content {
            flex-direction: column; gap: 0;
            .price {gap: 5px; flex-direction: row; justify-content: center;}
          }
        }
        .cpm .product-desc p {max-width: 100%;}
      }
    }
    .l-steps-products {
      padding: 70px 80px 0;
      &-content {padding: 88px 0;}
    }
    .l-arka-advantage {
      padding: 0 80px 141.69px;
    }
  }
}
@include media-breakpoint-down(lg)  { // 992px
  body {background-color: #8cc9d8 !important;}
  .l-header {
    .header-menu {
      width: 480px;
      .nav ul {
        gap: 10px;
        width: 480px;
        padding-left: 20px;
        a {letter-spacing:  1.36px;}
      }
    }
    .user-block .profile {
      padding: 5px 20px 0 30px;
    }
  }
  .l-main {
    .l-custom-box-title  {
      padding: 40px 0 40px 0;
      justify-content: center;
      &-content {
        padding: 0;
        text-align: center;
        h1 {
          font-size: 2.5rem;
          max-width: 80%; 
          margin: 0 auto 15px;
        }
        p {
          font-size: 1.5rem; 
          max-width: 100%;
          margin-bottom: 25px;
        }
      }
      &-img {display: none;}
    }
    .l-specifications-content {
      justify-content: center; gap: 20px;
    }
    .l-customize-products {
      padding: 57px 40px 49.69px;
      &-title {
        flex-direction: column;
        align-items: center; 
        gap: 20px;
        padding-bottom: 40px;
        h2 {text-align: center;}
      }
      &-catalog {
        flex-wrap: wrap;
        justify-content: center;
        .products-column {
          flex-direction: row;
          .product {
            height: auto; gap: 0;
            &-img {height: auto;}
            &-desc p {max-width: 75%; margin: 0 auto;}
          }
        }
      }
    }
    .l-steps-products {
      padding: 70px 40px 0;
      &-content {
        padding: 0;
        h2 {max-width: 70%; margin: 0 auto;}
        .steps-products {
          justify-content: center;
          .sp {width: 275px;}
        }
      }
    }
    .l-arka-advantage {
      h2 {text-align: center;}
      &-content {
        gap: 10px;
        .advantage-column {
          height: auto;
          text-align: center;
          &-desc {margin: 0;}
        }
      }
    }
  }
}
@include media-breakpoint-down(md)  { // 768px
  body {background-color: #6610f2 !important;}
  .l-header {
    padding: 19px 0 0;
    flex-direction:  column;
    align-items: center;
    .header-menu .nav ul {
      padding-top: 15px; 
      padding-left: 0;
      height: auto;
    }
  }
  .l-main {
    .l-specifications {
      padding: 20px 20px 0 20px;
      &-content {flex-wrap: wrap;}
    }
    .l-steps-products {
      padding: 70px 0px;
      .steps-products {flex-wrap: wrap;}
    }
    .l-arka-advantage {
      padding: 0 0 141.69px;
      p {max-width: 80%; margin: 0 auto;}
      &-content {
        gap: 0; flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
@include media-breakpoint-down(sm) { // 576px
  body {background-color: #969294 !important;}
  .l-header .header-menu {
    width: auto; height: auto;
    .nav ul {
      padding-top: 15px;
      padding-left: 0;
      height: auto;
      flex-wrap: wrap;
      width: auto;
      justify-content: center;
      padding: 15px 85px 10px;
      text-align: center;
      .syd img {
        margin-right: 3px;
      }
    }
  }
  .l-main {
    .l-custom-box-title-content {
      height: auto;
      h1 {
        font-size: 2rem; 
        max-width: 80%; 
        line-height: 40px;
        height: auto;
        margin-bottom: 35px;
      }
      p {max-width: 90%; margin: 0 auto 25px;}
    }
    .l-specifications {
      padding: 20px 0px 40px 0px;
      &-content {
        gap: 10px;
        flex-direction: column;
        align-items: center;
        .shopify {gap: 0}
        & > div {
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
        span {padding: 0; max-width: 100%;}
        .shopify span {max-width: 100%;}
        .amazon span {padding-left: 0;}
        .eco div {
          padding: 0; 
          flex-direction: initial;
          width: auto; 
          height: auto;
        }
      }
    }
    .l-customize-products {
      &-title  .btn-main {width: 200px;}
      &-catalog .products-column {
        flex-direction: column;
        .product-desc {
          padding: 0;
          p {font-size: 1rem;}
        }
      }
      &-shock-items {
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 10px;
        span {font-size: 1.125rem; text-align: center;}
      }
    }
    .l-steps-products-content {
      h2 {max-width: 85%;}
      .steps-products {
        flex-direction: column;
        align-items: center;
      }
    }
    .l-arka-advantage {
      h2 {max-width: 50%; margin: 0 auto;}
      &-advantage-content {
        flex-direction: column;
        align-items: center;
        p {max-width: 95%;}
      }
    }
  }
}
@media (max-width: 320px) {
  body {width: 320px;}
}
