// Import mixins, variables
@import "mixins_var.scss";
// Header/Footer logo
.logo {
  width: 177px;
  height: 50px;
}
// Images
.img__resp-block {
  display: flex;
  img {
    height: auto;
  }
}
.img__resp {
  max-width: 100%;
}
// Buttons
.btn-connect {
  align-items: center;
  border: 2px solid #292f36;
  border-radius: 18px;
  background-color: #292f36;
  color: #ffffff;
  display: flex;
  font-size: 1.125rem;
  height: 71px;
  line-height: 27px;
  letter-spacing: 0.72px;
}