// Import mixins, variables
@import 'mixins_var.scss';
// Common styles
.header > div {flex-wrap: wrap}
// State of modules and site skeleton
#scroll_top {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  bottom: 260px;
  right: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  a { background-color: #fff;}
  &:hover {opacity: 1;}
  &:active {
    transition: all 0s;
    color: #000;
    background-color: #fff;
  }
}
// Menu
.header-menu {
  .nav-col {flex-direction: column;}
  #toggle {display: none;}
  // Hamburger
  .hamburger {
    position: absolute;
    display: none;
    right: 10%;
    margin-top: -10px;
    width: 3em;
    height: 45px;
    z-index: 5;
    div {
      position: relative;
      width: 3em;
      height: 7px;
      border-radius: 3px;
      background-color: #000;
      margin-top: 8px;
      transition: all 0.3s ease-in-out;
    }
  }
}
