// Theme classes
.sw-bg {
  background: #eeeeee;
}
// Common prop
h1,
h2 {
  color: #292f36;
}
p {
  color: #4d5053;
}
// Header
.l-header {
  nav a {
    color: #292f36;
    &:first-child {
      color: #cda274;
    }
  }
}
// Buttons
.l-main .l-m-design-offers button {
  background-color: #fff;
}
// Main
.l-main {
  .number-block {
    a,
    span {
      color: #4d5053;
    }
  }
  .l-m-challenging-designs .phone-img {
    background-color: #f4f0ec;
  }
  .l-ir-wr .l-m-interno-reviews .l-ir-content {
    background-color: #f4f0ec;
    .reviews-block .review {
      background-color: #ffffff;
    }
  }
  .l-m-recent-projects .desc-arrow {
    background-color: #f4f0ec;
  }
  .l-stats-wr {
    background-color: #f4f0ec;
    .l-m-stats .sb-number span {
      color: #cda274;
    }
  }
  @media (max-width: 1199.98px) {
    .l-ir-wr {
      background-color: #f4f0ec;
    }
  }
}
.l-footer {
  .l-author {
    span {
      color: #3d5675;
    }
    strong {
      color: #cda274;
    }
    a {
      color: #cda274;
    }
  }
}
