// Файл стилей для работы макета dart service manager, написанный jkenix.
// Styles file for dart service manager layout by jkenix. 
// Требуется так же файл normalize.css для работы с макетом.
// It also requires a normalize.css file to work with the layout.
// Опирался на эти сайты при разработке: 
// Based on this sites while developing:
// https://wooder-furniture.surge.sh/
// https://sierikovroman.github.io/wooder/#
// P.S. I'm new developer. Do not judge strictly!
// ====== Кастомные шрифты: (Custom fonts) ====== \\
@font-face {font-display: fallback;font-family: "Proxima Nova Bold";src:url(/fonts/proximanova_bold.woff) format("woff");}
@font-face {font-display: fallback;font-family: "Proxima Nova Light";src:url(/fonts/proximanova_light.woff) format("woff");}
@font-face {font-display: fallback;font-family: "Proxima Nova Regular";src:url(/fonts/proximanova_regular.woff) format("woff");}
/* Resets */
* {margin: 0; padding: 0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// Переменные
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
/* Global */
html {scroll-behavior: smooth;}
body { 
  font-size: calc(16px + 1vw); // размер шрифта увеличивается на 1px через каждые 100px ширины области просмотра
  line-height: calc(1.1em + 0.5vw); // Междустрочный интервал увеличивается вместе со шрифтом
  height: calc(100vw * (9/16)); // Междустрочный интервал увеличивается вместе со шрифтом
}
p {font-family: ""; font-weight: 0; font-size: 15px;}
a {text-decoration: none; font-family: "Proxima Nova Bold";}
span {font-family: "Proxima Nova Bold";}
img {user-select: none;}
ul {list-style: none;}
button {background-color: transparent;}
summary {list-style-type: none;}
// Накладывает темный цвет на задний фон header и main_demonstration
.img-overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.9;
}
/* Миксины */
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Proxima.
  font-family: "Proxima Nova", sans-serif, Tahoma, Geneva, Georgia, Verdana;
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Header
.header {width: 100%; height: 1042px;
    display: block;
    padding: 30px 30px 0px 0px;
    // Backgrounds
    .left-block {
      position: absolute; 
      width: 100%;
      max-width: 1050px; height: 1001px;
      z-index: -1;  left: 0px; top: 0px;
      background: url("/img/wood_background1.webp") no-repeat;
      -webkit-background-size: cover;background-size: cover; background-position: center;
         
    }
    .right-block {
      position: absolute;  width: 100%;
      max-width: 853px; height: 1043px;
      z-index: -1;  right: 0px; top: 0px;
      background: url("/img/wood_background2.webp") no-repeat;
      -webkit-background-size: cover; background-size: cover; background-position: center;
    }
    // Navigation bar of header
    .__fixednav {
      background: rgba(0,0,0,0.8);
      position: fixed;
      .menu-block {height: 10px;}
     
    }
    .menu {width: 100%; z-index: 100;
      padding: 5px 0 0 30px;
      display: flex;
      a, span {font-size: 15px; 
        line-height: 1.5; letter-spacing: 0.38px; 
        text-align: center; color: rgba(255, 255, 255, 0.5);
      }
      &-block {display: inline-flex; cursor: pointer; height: 175px;
          &:hover {filter: opacity(1) drop-shadow(0 0 0 #fff);
            transition: all 1s ease;}
          // Выпадающее меню
        &__nav {
            span {padding: 0px 0px 0px 6px;}
            img {margin: -3px 0 0 0;}
            a {display: block; 
              white-space: nowrap;
              text-decoration: none; outline: none;
              transition: .5s linear;
            }
            ul {padding: 0; background: transparent;}
            .topmenu > li {
              position: relative;
              &:last-child {margin-right: 0;}
            }
            li {height: 35px;
                &:hover {// Отвечает за показывание меню
                  .submenu {display: block;}
                }
            }
            .__black { background: rgba(0,0,0,0.8) !important;
              li a {
                &:hover {color: #bea67c !important}
                &:active {color:#fff !important}
                }
            }
            .submenu {
                display: none;
                padding: 0 10px 0 10px;
                position: absolute;
                top: 100%; left: 0; z-index: 10;
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                background: #bea67c;
                li a {
                  border-bottom: 1px solid rgba(255,255,255,.3);
                  color: white;
                  &:hover {color: black;}
                  &:active {color:#fff;}
                }
              }
          }
      }
      &-wooder-logo {display: flex; height: 26px; position: relative; 
        padding: 0px 0px 0px 594px; height: 26px;
        a {cursor: pointer; display: flex;}
        img {vertical-align: top; margin-top: -4px;}
      }
      &-items {display: flex; height: 26px;  padding-left: 100px;  margin-right: 250px;
        a {align-items: center; padding-right: 117px;  
          &:hover {filter: opacity(1) drop-shadow(0 0 0 #fff);
          transition: all 1s ease;}
          &:active {filter: opacity(1) drop-shadow(0 0 0 #bea67c);
            transition: all 0s ease;}
        }
        #menu_products {padding-right: 95px;}

      }
      &-info {display: flex; height: 23px;
        button {cursor: pointer; display: flex; border: none;
          overflow: visible; border-radius: 15px;
          &:hover {filter: opacity(1) drop-shadow(0 0 0 #bea67c);
            transition: all 2s ease;}
          &:active {background-color: rgb(196, 196, 196);
            transition: all 0s ease; border-radius: 15px;}
        }
        img {cursor: pointer; position: relative;}
        
      }
    }
    // Center of header
    .about-wooder {display: flex; width: 100%; height: 430px;
      padding: 87px 374px 0px 360px; margin: 0 0 338px 0;
      .block1 {display: block; width: 40px; margin-right: 295px;
        .line {display: block; margin-left: 20px;}
        .one {display: block; transform:rotate(90deg); 
          color: #bea67c; font-size: 50px; 
          line-height: 1.5; letter-spacing: 6px; margin-bottom: 83px; 
        }
        .ellips {display: block;
          margin-left: 14px; margin-bottom: 40px;
        }
        
      }
      .wooder_block {display: block;
        padding: 34px 0 0 16px; margin: 0 255px 0 0;
        h1 {font-family: "Proxima Nova Bold";
          font-size: 100px; display: block; 
          letter-spacing: 20px; color: #bea67c; 
        }
        .wooder_info {width: 308px; height: 58px; 
            margin: 32px 0 0 4px; padding: 0 0 0 84px;
            display: flex; align-items: center; border: 1px solid white;
            span {font-size: 14px; letter-spacing: 2.8px; color: #fff;
            margin-right: 4px;}
           
            &:hover {filter: opacity(1) drop-shadow(0 0 0 #bea67c);
              transition: all 2s ease;
              border: 1px solid #bea67c; background-color: white;
                span {color: #bea67c; transition: all 2s ease;}
                img {filter: invert(100%); transition: all 2s ease;}
            }
            &:active {background-color: black;
              transition: all 0s ease;
              img {filter: opacity(1) drop-shadow(0 0 0 #ffffff);}
            }
        }
      }
      .furniture-decore {display: block; width: 10px; height: 98px;
        margin: 22px 0 0 0;
        white-space: nowrap;
        transform:rotate(90deg);
        span {margin: 0 10px 0 0px; font-size: 15px; color: rgba(190, 166, 124, 0.2);}
        .furn {letter-spacing: 1.7px;}
        .dec {letter-spacing: 1.8px;}
      }
    }
    // Share button
    .share {margin: 0 0px 0 1869px; z-index: 2;}
}
.header-line {
  display: block;
  margin-top: -26px;
  padding-left: 1559px;
  width: 100%;
  height: 51px;
    img {position: absolute;}
}
// Main
.main {display: block;
  width: 100%; height: 100%;
  &_products {
    width: 100%;
    height: 2063px;
  }
  &_demonstration {
    width: 100%; height: 915px;
    background: url("/img/wedodesign_background.webp");
    -webkit-background-size: cover; background-size: cover; background-position: center;
    z-index: -1;
  }
}
// Footer
.footer {
  
}