// Файл стилей для работы макета dart service manager, написанный jkenix.
// Styles file for dart service manager layout by jkenix. 
// Требуется так же файл normalize.css для работы с макетом.
// It also requires a normalize.css file to work with the layout.
// Опирался на эти сайты при разработке: 
// Based on this sites while developing:
// https://wooder-furniture.surge.sh/
// https://sierikovroman.github.io/wooder/#
// P.S. I'm new developer. Do not judge strictly!
// ====== Кастомные шрифты: (Custom fonts) ====== \\
// @font-face {font-display: fallback;font-family: "Raleway Regular";src:url(/fonts/RalewayRegular.woff) format("woff");}
// @font-face {font-display: fallback;font-family: "Raleway ExtraBold";src:url(/fonts/RalewayExtraBold.woff) format("woff");}
// @font-face {font-display: fallback;font-family: "Raleway SemiBold";src:url(/fonts/RalewaySemiBold.woff) format("woff");}
// @font-face {font-display: fallback;font-family: "Raleway Bold";src:url(/fonts/RalewayBold.woff) format("woff");}
// @font-face {font-display: fallback;font-family: "Raleway Medium";src:url(/fonts/RalewayMedium.woff) format("woff");}
/* Resets */
* {margin: 0; padding: 0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// Переменные
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
/* Global */
html {scroll-behavior: smooth;}
body { // размер шрифта увеличивается на 1px через каждые 100px ширины области просмотра
  font-size: calc(16px + 1vw);
  // междустрочный интервал увеличивается вместе со шрифтом
  // и получает дополнительный прирост на 0.1em + 0.5px через каждые 100px ширины области просмотра
  line-height: calc(1.1em + 0.5vw);
  height: calc(100vw * (9/16));
}
h1 {}
p {font-family: ""; font-weight: 0; font-size: 15px;}
a {text-decoration: none; user-select: none;}
img {user-select: none;}
summary {list-style-type: none;}
input, textarea, label {font-family:""; font-weight: 0;}
.img-overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.9;
}
/* Миксины */
@mixin fontfamily{ // Устанавливает шрифты по умолчанию для всего текста. Макет делался с упором на Raleway.
  font-family: "Raleway", sans-serif, Tahoma, Geneva, Georgia, Verdana;
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Header
.header {width: 100%; height: 1042px;
    display: block;
    padding: 35px 30px 0px 30px;
    .left_block {
      position: absolute; 
      width: 100%;
      max-width: 1050px; height: 1001px;
      z-index: -1;  left: 0px;
      top: 0px;
      background: url("/img/wood_background1.webp") no-repeat;
      -webkit-background-size: cover;background-size: cover; background-position: center;
         
    }
    .right_block {
      position: absolute;  width: 100%;
      max-width: 853px; height: 1043px;
      z-index: 1;  right: 0px;
      top: 0px;
      background: url("/img/wood_background2.webp") no-repeat;
      -webkit-background-size: cover; background-size: cover; background-position: center;
    }
    .menu {width: 100%; height: 26px;
      display: flex; position: absolute;
      img {position: absolute;}
      span {position: relative;}
      &_block {
        display: inline-flex;
        img {position: absolute;}
        span {position: relative;}
      }
    }
      .img-overlay {
        img {
          width: 23px;
          height: 25px;
          margin-right: 25px;
          margin-bottom: 25px;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2; }
      }
}
.header_line {
  display: block;
  margin-top: -26px;
  padding-left: 1559px;
  width: 100%;
  height: 51px;
    img {position: absolute;}
}

// Main
.main {display: block;
  width: 100%; height: 100%;
  &_products {
    width: 100%;
    height: 2063px;
  }
  &_demonstration {
    width: 100%;
    height: 915px;
    background: url("/img/wedodesign_background.webp");
    -webkit-background-size: cover; background-size: cover; background-position: center;
  }
}
// Footer
.footer {
  
}